<!--
This is is the System Performance and Energy Yield (SPEY) for the DTOceanPlus suite of Tools.
Copyright (C) 2021 TECNALIA - Vincenzo Nava

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <br>
    <el-row>
      <el-button
        type="success"
        size="mini"
        data-cy-spey="createSpeyStudyBtn"
        @click="dialogFormVisible = true"
      >
        Create SPEY study
      </el-button>
    </el-row>
    <el-dialog title="Create a SPEY study" :visible.sync="dialogFormVisible">
      <el-form ref="studyForm" :model="studyForm" :rules="studyRules">
        <el-form-item label="Name" :label-width="formLabelWidth" prop="name">
          <el-input v-model="studyForm.name" autocomplete="off" data-cy-spey="createSpeyName" />
        </el-form-item>
        <el-form-item label="Description" :label-width="formLabelWidth" prop="description">
          <el-input v-model="studyForm.description" autocomplete="off" data-cy-spey="createSpeyDesc" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="onCancel">Cancel</el-button>
        <el-button type="success" data-cy-spey="submitCreateButton" @click="onSubmit('studyForm')">Create</el-button>
      </span>
    </el-dialog>
    <br><br>
    <el-table
      ref="spey_projects"
      :data="spey_studies"
      highlight-current-row
      style="width: 100%"
      data-cy-spey-spey="tableData"
      @current-change="handleCurrentChange"
    >
      <el-table-column
        prop="speyId"
        label="ID"
        min-width="10"
      />
      <el-table-column
        min-width="15"
        label="Date"
        prop="date"
      />
      <el-table-column
        min-width="15"
        label="Title"
        prop="title"
        data-cy-spey-spey="tableColumn"
      />
      <el-table-column
        prop="description"
        label="Description"
        min-width="20"
      />
      <el-table-column
        prop="status"
        label="Status"
        min-width="20"
      >
        <template slot-scope="scope">
          <el-progress :percentage="scope.row.status" :text-inside="true" :stroke-width="20" />
        </template>
      </el-table-column>
      <el-table-column
        label="Operations"
        min-width="20"
      >
        <template slot-scope="scope">
          <el-button
            type="text"
            @click="onSelectStudy(scope.row)"
          >Open</el-button>
          <el-button
            type="text"
            :disabled="scope.row.status!=100"
            @click="onSelectResults(scope.row)"
          >Results</el-button>
          <br>
          <el-button
            type="text"
            :data-cy-spey="`editStudyBtn${scope.row.speyId}`"
            @click="editStudy(scope.row)"
          >Change Title/Description</el-button>
          <br>
          <el-button
            type="text"
            :data-cy-spey="`deleteStudyBtn${scope.row.speyId}`"
            @click="onDeleteStudy(scope.row)"
          >Delete</el-button>
          <br>
          <el-button
            icon="el-icon-download"
            type="text"
            :disabled="scope.row.status!=100"
            @click="onExportDr(scope.row)"
          >Export DR</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog
      title="Update a SPEY study"
      :visible.sync="dialogUpdateFormVisible"
    >
      <el-form ref="updateForm" :model="editForm" :rules="studyRules">
        <el-form-item label="Name" :label-width="formLabelWidth" prop="name">
          <el-input v-model="editForm.name" autocomplete="off" data-cy-spey="editStudyFormName" />
        </el-form-item>
        <el-form-item label="Description" :label-width="formLabelWidth" prop="description">
          <el-input v-model="editForm.description" autocomplete="off" data-cy-spey="editStudyFormDesc" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="onCancel">Cancel</el-button>
        <el-button type="warning" data-cy-spey="confirmUpdateStudyBtn" @click="onSubmitUpdate('updateForm')">Update</el-button>
      </span>
    </el-dialog>
    <el-dialog title="Delete a Spey study" :visible.sync="dialogDeleteVisible">
      <span>Are you sure you want to delete the following study?</span><br><br>
      <span><b>Title: </b>{{ deleteForm.title }}</span><br>
      <span><b>Description: </b>{{ deleteForm.description }}</span><br>
      <span><b>ID: </b>{{ deleteForm.speyId }}</span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="onCancel">Cancel</el-button>
        <el-button type="danger" data-cy-spey="submitDeleteButton" @click="removeStudy">Delete</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/dtop/dtopConsts"

export default {
  data() {
    return {
      studyForm: {
        name: '',
        description: ''
      },
      studyRules: {
        name: [
          { required: true, message: 'Please input a name for the study', trigger: 'blur' },
          { min: 1, max: 20, message: 'Length should be 1 to 10', trigger: 'blur' }
        ],
        description: [
          { required: true, message: 'Please input a description for the study', trigger: 'change' }
        ] },
      spey_studies: [],
      addStudyForm: {
        name: '',
        description: ''
      },
      editForm: {
        id: '',
        name: '',
        description: ''
      },
      deleteForm: {
        id: '',
        name: '',
        description: ''
      },
      dialogFormVisible: false,
      dialogUpdateFormVisible: false,
      dialogDeleteVisible: false,
      formLabelWidth: '120px',
      currentRow: null,
      speyId: this.$store.getters.speyId,
      status: this.$store.getters.status,
      indexCurrent: null,
      dr_data: {},
      validStudyForm: null
    }
  },
  created() {
    this.getStudies()
  },
  methods: {
    getStudies() {
      const path = `${DTOP_PROTOCOL}//spey.${DTOP_DOMAIN}/spey`
      console.log ( "path = ", path, "protocol=" , `${DTOP_PROTOCOL}`, "domain = " , `${DTOP_DOMAIN}`)
      axios.get(path)
        .then((res) => {
          this.spey_studies = res.data
          if (this.speyId) {
            this.indexCurrent = this.spey_studies.findIndex(x => x.speyId === this.speyId)
            this.setCurrent(this.spey_studies[this.indexCurrent])
          }
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })
    },
    getDr(speyId) {
      const path = `${DTOP_PROTOCOL}//spey.${DTOP_DOMAIN}/representation/${speyId}`
      console.log(path)
      axios.get(path)
        .then((res) => {
          this.dr_data = res.data
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })
    },
    addStudy(payload) {
      const path = `${DTOP_PROTOCOL}//spey.${DTOP_DOMAIN}/spey`
      axios.post(path, payload)
        .then(() => {
          this.getStudies()
          this.studyMessage('Study added', 'success')
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(error);
          this.getStudies()
          this.studyMessage(error.response.data.message, 'warning')
        })
    },
    onSelectStudy(row) {
      this.handleCurrentChange(row)
      this.$router.push({ name: 'SpeyInputs', params: { speyId: row.id }})
    },
    onSelectResults(row) {
      this.handleCurrentChange(row)
      this.$router.push({ name: 'SpeyOutputs', params: { speyId: row.id }})
    },
    updateStudy(payload, studyID) {
      const path = `${DTOP_PROTOCOL}//spey.${DTOP_DOMAIN}/spey/${studyID}`
      axios.put(path, payload)
        .then(() => {
          this.getStudies()
          this.studyMessage('Study updated', 'success')
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getStudies()
          this.studyMessage(error.response.data.message, 'warning')
        })
    },
    editStudy(row) {
      this.editForm.id = row.speyId
      this.editForm.name = row.title
      this.editForm.description = row.description
      this.dialogUpdateFormVisible = true
      this.handleCurrentChange(row)
    },
    removeStudy() {
      this.dialogDeleteVisible = false
      const path = `${DTOP_PROTOCOL}//spey.${DTOP_DOMAIN}/spey/${this.deleteForm.speyId}`
      axios.delete(path)
        .then(() => {
          this.getStudies()
          this.studyMessage('Study deleted', 'success')
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getStudies()
        })
    },
    onDeleteStudy(row) {
      this.dialogDeleteVisible = true
      this.deleteForm.speyId = row.speyId
      this.deleteForm.title = row.title
      this.deleteForm.description = row.description
      // this.speyId = null
      this.$store.dispatch('setId', { speyId: '' })
    },
    initForm() {
      this.addStudyForm.name = ''
      this.addStudyForm.description = ''
      this.editForm.id = ''
      this.editForm.name = ''
      this.editForm.description = ''
      this.deleteForm.speyId = ''
      this.deleteForm.title = ''
      this.deleteForm.description = ''
    },
    validateForm(formName) {
      this.$refs[formName].validate((valid) => {
        this.validStudyForm = valid
      })
    },
    onSubmit(studyForm) {
      this.validateForm(studyForm)

      if (this.validStudyForm) {
        this.dialogFormVisible = false
        const payload = {
          title: this.studyForm.name,
          description: this.studyForm.description
        }
        this.addStudy(payload)
        this.initForm()
      }
    },
    onCancel() {
      this.dialogFormVisible = false
      this.dialogUpdateFormVisible = false
      this.dialogDeleteVisible = false
      this.operationMessage('Operation cancelled')
      this.initForm()
      this.getStudies()
    },
    onSubmitUpdate(updateForm) {
      this.validateForm(updateForm)
      console.log(this.validStudyForm)

      if (this.validStudyForm) {
        this.dialogUpdateFormVisible = false
        const payload = {
          title: this.editForm.name,
          description: this.editForm.description
        }
        this.updateStudy(payload, this.editForm.id)
      }
    },
    studyMessage(content, msgType) {
      this.$message({
        message: content,
        type: msgType
      })
    },
    operationMessage(content) {
      this.$message({
        message: content
      })
    },
    setCurrent(row) {
      this.$refs.spey_projects.setCurrentRow(row)
    },
    handleCurrentChange(val) {
      this.currentRow = val
      this.speyId = val.speyId
      this.$store.dispatch('setId', { speyId: val.speyId })
      this.$store.dispatch('setStatus', { status: val.status })
      if (val.status == 100) {
        this.getDr(this.speyId)
      }
    },
    open(row) {
      this.$alert(row.description, row.title, {
        confirmButtonText: 'OK'
      })
    },
    saveToFile(jsonData, filename) {
      const jsonDataString = JSON.stringify(jsonData)
      const blob = new Blob([jsonDataString], { type: 'text/plain;charset=utf-8;' })
      if (navigator.msSaveBlob) { // IE 10+
        navigator.msSaveBlob(blob, filename)
      } else {
        const link = document.createElement('a')
        if (link.download !== undefined) { // feature detection
          // Browsers that support HTML5 download attribute
          const url = URL.createObjectURL(blob)
          link.setAttribute('href', url)
          link.setAttribute('download', filename)
          link.style.visibility = 'hidden'
          document.body.appendChild(link)
          link.click()
          document.body.removeChild(link)
        }
      }
    },
    onExportDr(row) {
      this.handleCurrentChange(row)
      console.log(this.dr_data)
      this.saveToFile(this.dr_data, 'SPEY_DR.json')
    }
  }
}
</script>
