<!--
This is is the System Performance and Energy Yield (SPEY) for the DTOceanPlus suite of Tools.
Copyright (C) 2021 TECNALIA - Vincenzo Nava

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <h1> Input Selection </h1>

    <el-form label-position="left" >
      <el-form-item label="Machine Characterisation" :label-width="formLabelWidth">
        <el-button
          type="success"
          :disabled="isIntegrated(this.machine_standalone)"
          size="mini"
          @click="dialogMCFormVisible = true"
        >
          Input Data via Form
        </el-button>
        <span v-if="isRun && this.mcId === 'User-Defined'"><i>The selected MC study is </i> {{ this.mcId }} </span>
        <span v-else-if="isRun && this.mcId !== 'User-Defined' && this.mcId !== 'None'&& this.mcId !== null"><i>The selected MC study is </i> {{ this.mcId }} </span>
        <span v-else-if="isRun && (this.mcId === 'None'|| this.mcId === null)"><i> MC was not used for running SPEY </i></span>
        <span v-else-if="isIntegrated(this.machine_standalone)&&isComplete(this.machine_incomplete)"><i>The selected MC study is </i> {{ this.mcId }} </span>
        <span v-else-if="isIntegrated(this.machine_standalone)"><i>Wait for MC study </i> {{ this.mcId }} <i> to be completed first. </i> </span>
        <span v-else><i>MC study has not defined in integrated mode, you can add or modify data via the GUI</i></span>

      </el-form-item>
      <el-form-item label="Site Characterisation" :label-width="formLabelWidth">
        <el-button
          type="success"
          size="mini"
          :disabled="isIntegrated(this.site_standalone)"
          @click="onDialogSc()"
        >
          Input Data via Form
        </el-button>
        <span v-if="isRun && this.scId === 'User-Defined'"><i>The selected SC study is </i> {{ this.scId }} </span>
        <span v-else-if="isRun && this.scId !== 'User-Defined' && this.scId !== 'None'&& this.scId !== null"><i>The selected SC study is </i> {{ this.scId }} </span>
        <span v-else-if="isRun && (this.scId === 'None'|| this.scId === null)"><i> SC was not used for running SPEY </i></span>
        <span v-else-if="isIntegrated(this.site_standalone)&&isComplete(this.site_incomplete)"><i>The selected SC study is </i> {{ this.scId }} </span>
        <span v-else-if="isIntegrated(this.site_standalone)"><i>Wait for MC study </i> {{ this.scId }} <i> to be completed first. </i> </span>
        <span v-else><i>SC study has not defined in integrated mode, you can add or modify data via the GUI</i></span>

      </el-form-item>
      <el-form-item label="Energy Capture" :label-width="formLabelWidth">
        <el-button
          type="success"
          size="mini"
          :disabled="isIntegrated(this.capture_standalone)"
          @click="dialogECFormVisible = true"
        >
          Input Data via Form
        </el-button>
        <span v-if="isRun && this.ecId === 'User-Defined'"><i>The selected EC study is </i> {{ this.ecId }} </span>
        <span v-else-if="isRun && this.ecId !== 'User-Defined' && this.ecId !== 'None'&& this.ecId !== null"><i>The selected EC study is </i> {{ this.ecId }} </span>
        <span v-else-if="isRun && (this.ecId === 'None'|| this.ecId === null)"><i> EC was not used for running SPEY </i></span>
        <span v-else-if="isIntegrated(this.capture_standalone)&&isComplete(this.capture_incomplete)"><i>The selected EC study is </i> {{ this.ecId }} </span>
        <span v-else-if="isIntegrated(this.capture_standalone)"><i>Wait for EC study </i> {{ this.ecId }} <i> to be completed first. </i> </span>
        <span v-else><i>EC study has not defined in integrated mode, you can add or modify data via the GUI</i></span>

      </el-form-item>
      <el-form-item label="Energy Transformation" :label-width="formLabelWidth">
        <el-button
          type="success"
          size="mini"
          :disabled="isIntegrated(this.transformation_standalone)"
          @click="dialogETFormVisible = true"
        >
          Input Data via Form
        </el-button>
        <span v-if="isRun && this.etId === 'User-Defined'"><i>The selected ET study is </i> {{ this.etId }} </span>
        <span v-else-if="isRun && this.etId !== 'User-Defined' && this.etId !== 'None'&& this.etId !== null"><i>The selected ET study is </i> {{ this.etId }} </span>
        <span v-else-if="isRun && (this.etId === 'None'|| this.etId === null)"><i> ET was not used for running SPEY </i></span>
        <span v-else-if="isIntegrated(this.transformation_standalone)&&isComplete(this.transformation_incomplete)"><i>The selected ET study is </i> {{ this.etId }} </span>
        <span v-else-if="isIntegrated(this.transformation_standalone)"><i>Wait for ET study </i> {{ this.etId }} <i> to be completed first. </i> </span>
        <span v-else><i>ET study has not defined in integrated mode, you can add or modify data via the GUI</i></span>
      </el-form-item>
      <el-form-item label="Energy Delivery" :label-width="formLabelWidth">
        <el-button
          type="success"
          size="mini"
          :disabled="isIntegrated(this.delivery_standalone)"
          @click="dialogEDFormVisible = true"
        >
          Input Data via Form
        </el-button>
        <span v-if="isRun && this.edId === 'User-Defined'"><i>The selected ED study is </i> {{ this.edId }} </span>
        <span v-else-if="isRun && this.edId !== 'User-Defined' && this.edId !== 'None'&& this.edId !== null"><i>The selected ED study is </i> {{ this.edId }} </span>
        <span v-else-if="isRun && (this.edId === 'None'|| this.edId === null)"><i> ED was not used for running SPEY </i></span>
        <span v-else-if="isIntegrated(this.delivery_standalone)&&isComplete(this.delivery_incomplete)"><i>The selected ED study is </i> {{ this.edId }} </span>
        <span v-else-if="isIntegrated(this.delivery_standalone)"><i>Wait for ED study </i> {{ this.edId }} <i> to be completed first. </i> </span>
        <span v-else><i>ED study has not defined in integrated mode, you can add or modify data via the GUI</i></span>
      </el-form-item>
      <el-form-item label="Logistics and Marine Operation planning" :label-width="formLabelWidth">
        <el-button
          type="success"
          size="mini"
          :disabled="isIntegrated(this.logistics_standalone)"
          @click="dialogLMOFormVisible = true"
        >
          Input Data via Form
        </el-button>
        <span v-if="isRun && this.lmoId === 'User-Defined'"><i>The selected LMO study is </i> {{ this.lmoId }} </span>
        <span v-else-if="isRun && this.lmoId !== 'User-Defined' && this.lmoId !== 'None'&& this.lmoId !== null"><i>The selected LMO study is </i> {{ this.lmoId }} </span>
        <span v-else-if="isRun && (this.lmoId === 'None'|| this.lmoId === null)"><i> LMO was not used for running SPEY </i></span>
        <span v-else-if="isIntegrated(this.logistics_standalone)&&isComplete(this.logistics_incomplete)"><i>The selected LMO study is </i> {{ this.lmoId }} </span>
        <span v-else-if="isIntegrated(this.logistics_standalone)"><i>Wait for LMO study </i> {{ this.lmoId }} <i> to be completed first. </i> </span>
        <span v-else><i>LMO study has not defined in integrated mode, you can add or modify data via the GUI</i></span>
      </el-form-item>
      <br>
      <el-button type="success" :disabled="isRunIncomplete" @click="onSubmitStudy">Run</el-button>
      <el-button type="warning" :disabled="!isRun" @click="onEditStudy">Update and Re-Run</el-button>
      <el-button type="info" :disabled="!isRun" @click="goOutputs">Go to Outputs</el-button>
      <el-button type="info" :disabled="!isRun" @click="onExportDr">Export Digital Representation</el-button>
    </el-form>
    <el-dialog
      title="Input Data"
      :visible.sync="dialogMCFormVisible"
      width="80%"
    >
      <el-form ref="mcForm" :model="MCForm" :rules="mcRules">
        <el-form-item label="Technology" :label-width="formLabelWidth" prop="tech">
          <el-select v-model="MCForm.tech" placeholder="Select">
            <el-option
              v-for="item in MCoptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="Rated Power [kW]" :label-width="formLabelWidth" prop="rated_power">
          <el-input-number v-model.number="MCForm.rated_power" autocomplete="off" />
        </el-form-item>
        <el-form-item label="Mass [kg]" :label-width="formLabelWidth" prop="mass">
          <el-input-number v-model.number="MCForm.mass" autocomplete="off" />
        </el-form-item>
        <el-form-item label="Wet Area [m^2]" :label-width="formLabelWidth" prop="wet">
          <el-input-number v-model.number="MCForm.wet" autocomplete="off" />
        </el-form-item>
        <el-form-item label="Characteristic Length [m]" :label-width="formLabelWidth" prop="charact_lenght">
          <i v-popover:fromPopOver1 class="el-icon-info" />
          <br>
          <el-input-number v-model.number="MCForm.charact_lenght" autocomplete="off" />
        </el-form-item>
        <el-popover
          ref="fromPopOver1"
          placement="top-start"
          width="250"
          trigger="hover"
        >
          <span>
            For tidal machines, this is the rotor diameter <br>
          </span>
        </el-popover>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="onCancel('MC')">Cancel</el-button>
        <el-button type="success" data-cy-spey="submitButton" @click="onSubmitMcUd('mcForm')">Confirm</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Input Data"
      :visible.sync="dialogSCFormVisible"
      width="80%"
    >
      <el-form ref="scForm" :model="SCForm" :rules="scRules">
        <el-form-item label="Annual Average Energy Flux Tidal [W/m]" :label-width="formLabelWidth" prop="flux_tidal">
          <el-input-number v-model.number="SCForm.flux_tidal" autocomplete="off" :disabled="!isTidal" />
        </el-form-item>
        <el-form-item label="Annual Average Flux Wave [kW/m]" :label-width="formLabelWidth" prop="flux_wave">
          <el-input-number v-model.number="SCForm.flux_wave" autocomplete="off" :disabled="!isWave" />
        </el-form-item>
        <el-form-item label="Lease area extension [km^2]" :label-width="formLabelWidth" prop="lease">
          <el-input-number v-model.number="SCForm.lease" autocomplete="off" />
        </el-form-item>
        <el-form-item label="Monthly Wave Scatter Diagram" :label-width="formLabelWidth" prop="EJPD">
          <el-button
            type="success"
            size="mini"
            :disabled="!isWave"
            @click="dialogEJPD = true"
          >
            Input Data from Module
          </el-button>
          <el-dialog
            title="Input Data"
            :visible.sync="dialogEJPD"
            :append-to-body="true"
            width="80%"
          >
            <xslx-reader @uploadedFile="SCForm.EJPD= $event" />
            <span slot="footer" class="dialog-footer">
              <el-button @click="onCancelInputs">Cancel</el-button>
              <el-button type="success" data-cy-spey="submitButton" @click="onSubmit">Confirm</el-button>
            </span>
          </el-dialog>
        </el-form-item>
        <el-form-item label="Current Monthly Scenarii" :label-width="formLabelWidth" prop="CMS">
          <el-button
            type="success"
            size="mini"
            :disabled="!isTidal"
            @click="dialogCMS = true"
          >
            Input Data from Module
          </el-button>
          <el-dialog
            title="Input Data"
            :visible.sync="dialogCMS"
            :append-to-body="true"
            width="80%"
          >
            <xslx-reader @uploadedFile="SCForm.CMS= $event" />
            <span slot="footer" class="dialog-footer">
              <el-button @click="onCancelInputs">Cancel</el-button>
              <el-button type="success" data-cy-spey="submitButton" @click="onSubmit">Confirm</el-button>
            </span>
          </el-dialog>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="onCancel('SC')">Cancel</el-button>
        <el-button type="success" data-cy-spey="submitButton" @click="onSubmitScUd('scForm')">Confirm</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Input Data"
      :visible.sync="dialogECFormVisible"
      width="80%"
    >
      <el-form ref="ecForm" :model="ECForm" :rules="ecRules" >
        <el-form-item label="Number of devices" :label-width="formLabelWidth" prop="number">
          <el-input-number v-model="ECForm.number" :min="1" autocomplete="off" />
        </el-form-item>
        <el-form-item label="Array Annual Captured Energy Production [kWh]" :label-width="formLabelWidth" prop="aep">
          <el-input-number v-model="ECForm.aep" autocomplete="off" />
        </el-form-item>
        <el-form-item label="Array q-factor [-]" :label-width="formLabelWidth" prop="arrayqf">
          <el-input-number v-model="ECForm.arrayqf" autocomplete="off" />
        </el-form-item>
        <el-form-item label="Device Captured Energy" :label-width="formLabelWidth" prop="captured">
          <el-button
            type="success"
            size="mini"
            @click="dialogEC= true"
          >
            Input Data from Module
          </el-button>
          <el-dialog
            title="Input Data"
            :visible.sync="dialogEC"
            :append-to-body="true"
            width="80%"
          >
            <xslx-reader @uploadedFile="ECForm.captured= $event" />
            <span slot="footer" class="dialog-footer">
              <el-button @click="onCancelInputs">Cancel</el-button>
              <el-button type="success" data-cy-spey="submitButton" @click="onSubmit">Confirm</el-button>
            </span>
          </el-dialog>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="onCancel('EC')">Cancel</el-button>
        <el-button type="success" data-cy-spey="submitButton" @click="onSubmitEcUd('ecForm')">Confirm</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Input Data"
      :visible.sync="dialogETFormVisible"
      width="80%"
    >
      <el-form ref="etForm" :model="ETForm" :rules="etRules">
        <el-form-item label="Array Annual Transformed Energy Production [kWh]" :label-width="formLabelWidth" prop="aep">
          <el-input-number v-model="ETForm.aep" autocomplete="off" />
        </el-form-item>
        <el-form-item label="Device Transformed Energy" :label-width="formLabelWidth" prop="transformed">
          <el-button
            type="success"
            size="mini"
            @click="dialogET= true"
          >
            Input Data from Module
          </el-button>
          <el-dialog
            title="Input Data"
            :visible.sync="dialogET"
            :append-to-body="true"
            width="80%"
          >
            <xslx-reader @uploadedFile="ETForm.transformed= $event" />
            <span slot="footer" class="dialog-footer">
              <el-button @click="onCancelInputs">Cancel</el-button>
              <el-button type="success" data-cy-spey="submitButton" @click="onSubmit">Confirm</el-button>
            </span>
          </el-dialog>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="onCancel('ET')">Cancel</el-button>
        <el-button type="success" data-cy-spey="submitButton" @click="onSubmitEtUd('etForm')">Confirm</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Input Data"
      :visible.sync="dialogEDFormVisible"
      width="80%"
    >
      <el-form ref="edForm" :model="EDForm" :rules="edRules">
        <el-form-item label="Array Annual Delivered Energy Production [kWh]" :label-width="formLabelWidth" prop="aep">
          <el-input-number v-model="EDForm.aep" autocomplete="off" />
        </el-form-item>
        <el-form-item label="Total Length of Cables [m]" :label-width="formLabelWidth" prop="total_length">
          <el-input-number v-model="EDForm.total_length" autocomplete="off" />
        </el-form-item>
        <el-form-item label="Export Cable Length [m]" :label-width="formLabelWidth" prop="export_length">
          <el-input-number v-model="EDForm.export_length" autocomplete="off" />
        </el-form-item>
        <el-form-item label="Power Delivery" :label-width="formLabelWidth" prop="delivered">
          <el-button
            type="success"
            size="mini"
            @click="dialogED= true"
          >
            Input Data from Module
          </el-button>
          <el-dialog
            title="Input Data"
            :visible.sync="dialogED"
            :append-to-body="true"
            width="80%"
          >
            <xslx-reader @uploadedFile="EDForm.delivered= $event" />
            <span slot="footer" class="dialog-footer">
              <el-button @click="onCancelInputs">Cancel</el-button>
              <el-button type="success" data-cy-spey="submitButton" @click="onSubmit">Confirm</el-button>
            </span>
          </el-dialog>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="onCancel('ED')">Cancel</el-button>
        <el-button type="success" data-cy-spey="submitButton" @click="onSubmitEdUd('edForm')">Confirm</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="Input Data"
      :visible.sync="dialogLMOFormVisible"
      width="80%"
    >
      <el-form ref="lmoForm" :model="LMOForm" :rules="lmoRules">
        <el-form-item label="Project Life [years]" :label-width="formLabelWidth" prop="life">
          <el-input-number v-model="LMOForm.life" autocomplete="off" />
        </el-form-item>
        <el-form-item label="Downtime per device per year per month" :label-width="formLabelWidth" prop="downtime">
          <el-button
            type="success"
            size="mini"
            @click="dialogLMO= true"
          >
            Input Data from Module
          </el-button>
          <el-dialog
            title="Input Data"
            :visible.sync="dialogLMO"
            :append-to-body="true"
            width="80%"
          >
            <json-uploader @uploadedFile="LMOForm.downtime= $event" />
            <!-- <xslx-reader @uploadedFile="LMOForm.downtime= $event" /> -->
            <span slot="footer" class="dialog-footer">
              <el-button @click="onCancel()">Cancel</el-button>
              <el-button type="success" data-cy-spey="submitButton" @click="onSubmit">Confirm</el-button>
            </span>
          </el-dialog>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="onCancel('LMO')">Cancel</el-button>
        <el-button type="success" data-cy-spey="submitButton" @click="onSubmitLmoUd('lmoForm')">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import JsonUploader from '@/components/JsonUploader'
import XslxReader from '@/components/XslxReader'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/dtop/dtopConsts"

export default {
  components: {
    JsonUploader,
    XslxReader
  },
  data() {
    return {
      lmo_studies: [],
      speyId: this.$store.getters.speyId,
      status: this.$store.getters.status,
      MCoptions: [{
        value: 'TEC',
        label: 'Tidal'
      }, {
        value: 'WEC',
        label: 'Wave'
      }],
      dialogSCFormVisible: false,
      dialogMCFormVisible: false,
      dialogECFormVisible: false,
      dialogETFormVisible: false,
      dialogEDFormVisible: false,
      dialogLMOFormVisible: false,
      // dialogLMOModuleVisible:fal0se,
      dialogEJPD: false,
      dialogCMS: false,
      dialogEC: false,
      dialogET: false,
      dialogED: false,
      dialogLMO: false,
      formLabelWidth: '360px',
      MCForm: {
        rated_power: 0,
        tech: '',
        mass: 0,
        wet: 0,
        charact_lenght: 0
      },
      mcRules: {
        tech: [
          { required: true, message: 'Please select a Technology', trigger: 'change' }
        ],
        rated_power: [
          { required: true, message: 'Please input the Rated power of the prime mover', trigger: 'blur' },
          { type: 'number', message: 'Please enter a numeric type', trigger: 'blur' },
          { validator: this.validatePositive, trigger: 'blur' }
        ],
        mass: [
          { required: true, message: 'Please input the Mass of the prime mover', trigger: 'blur' },
          { type: 'number', message: 'Please enter a numeric type', trigger: 'blur' },
          { validator: this.validatePositive, trigger: 'blur' }
        ],
        charact_lenght: [
          { required: true, message: 'Please input the Characteristic Length of the prime mover', trigger: 'blur' },
          { type: 'number', message: 'Please enter a numeric type', trigger: 'blur' },
          { validator: this.validatePositive, trigger: 'blur' }
        ],
        wet: [
          { required: true, message: 'Please input the Wet Area of the prime mover', trigger: 'blur' },
          { type: 'number', message: 'Please enter a numeric type', trigger: 'blur' },
          { validator: this.validatePositive, trigger: 'blur' }
        ] },
      isTidal: true,
      isWave: true,
      SCForm: {
        flux_tidal: 1,
        flux_wave: 1,
        lease: 0,
        EJPD: null,
        CMS: null
      },
      // scRules: {
      //     flux_tidal:[
      //       { required: true, message: 'Please input the Average Flux', trigger: 'blur' },
      //       { type: 'number', message: 'Please enter a numeric type', trigger: 'blur'},
      //       { validator: this.validatePositive, trigger: 'blur'}
      //     ],
      //     flux_wave: [
      //       { required: true, message: 'Please input the Average Flux', trigger: 'blur' },
      //       {type: 'number', message: 'Please enter a numeric type', trigger: 'blur'},
      //       { validator: this.validatePositive, trigger: 'blur'}
      //     ],
      //     lease: [
      //       { required: true, message: 'Please input the Lease Area extension', trigger: 'blur' },
      //       {type: 'number', message: 'Please enter a numeric type', trigger: 'blur'},
      //       { validator: this.validatePositive, trigger: 'blur'}
      //     ],
      //     // CMS: [
      //     //   { required: isTidal, message: 'Please input the Current Monthly Scenarii', trigger: 'blur' },
      //     // ],
      //     // EJPD: [
      //     //   { required: true, message: 'Please input the Monthly Joint Probability Density', trigger: 'blur' },
      //     // ],
      //     },
      ECForm: {
        number: 0,
        aep: 0,
        arrayqf: 0,
        captured: null
      },
      ecRules: {
        number: [
          { required: true, message: 'Please input the number of devices', trigger: 'blur' },
          { type: 'number', message: 'Please enter a numeric type', trigger: 'blur' },
          { validator: this.validatePositive, trigger: 'blur' }
        ],
        aep: [
          { required: true, message: 'Please input the Annual Captured Energy', trigger: 'blur' },
          { type: 'number', message: 'Please enter a numeric type', trigger: 'blur' },
          { validator: this.validatePositive, trigger: 'blur' }
        ],
        arrayqf: [
          { required: true, message: 'Please input the q-factor of the array extension', trigger: 'blur' },
          { type: 'number', message: 'Please enter a numeric type', trigger: 'blur' },
          { validator: this.validatePositive, trigger: 'blur' }
        ],
        captured: [
          { required: true, message: 'Please upload the Excel file with the captured power per device', trigger: 'blur' },
        ]
      },
      ETForm: {
        aep: 0,
        transformed: null
      },
      etRules: {
        aep: [
          { required: true, message: 'Please input the Annual Transformed Energy', trigger: 'blur' },
          { type: 'number', message: 'Please enter a numeric type', trigger: 'blur' },
          { validator: this.validatePositive, trigger: 'blur' }],
        transformed: [
          { required: true, message: 'Please upload the Excel file with the transformed power and active/reactive power per device', trigger: 'blur' },
        ]
      },
      EDForm: {
        aep: 0,
        total_length: 0,
        export_length: 0,
        delivered: null
      },
      edRules: {
        aep: [
          { required: true, message: 'Please input the Annual Delivered Energy', trigger: 'blur' },
          { type: 'number', message: 'Please enter a numeric type', trigger: 'blur' },
          { validator: this.validatePositive, trigger: 'blur' }
        ],
        total_length: [
          { required: true, message: 'Please input the total length of the cables', trigger: 'blur' },
          { type: 'number', message: 'Please enter a numeric type', trigger: 'blur' },
          { validator: this.validatePositive, trigger: 'blur' }
        ],
        export_length: [
          { required: true, message: 'Please input the length of the export cable(s)', trigger: 'blur' },
          { type: 'number', message: 'Please enter a numeric type', trigger: 'blur' },
          { validator: this.validatePositive, trigger: 'blur' }
        ],
        delivered: [
          { required: true, message: 'Please upload the Excel file with the delivered active/reactive power per sea state', trigger: 'blur' },
        ]
      },
      LMOForm: {
        life: 10,
        downtime: null
      },
      lmoRules: {
        life: [
          { required: true, message: 'Please input the project life ', trigger: 'blur' },
          { type: 'number', message: 'Please enter a numeric type', trigger: 'blur' },
          { validator: this.validatePositive, trigger: 'blur' }
        ],
        downtime: [
          { required: true, message: 'Please upload the JSON file with the downtime hours per device, per year, per month', trigger: 'blur' },
        ]

      },
      scId: null,
      mcId: null,
      ecId: null,
      etId: null,
      edId: null,
      lmoId: null,
      sc_farm: {
        surface: 0
      },
      wave_flux: {
        mean: 0
      },
      current_flux: {
        mean: 0
      },
      wave_EJPD: {
        pdf: [],
        id: []
      },
      current_scenarii: {
        p: { January: [], February: [], March: [], April: [], May: [], June: [], July: [], August: [], September: [], October: [], November: [], December: [] },
        id: { January: [], February: [], March: [], April: [], May: [], June: [], July: [], August: [], September: [], October: [], November: [], December: [] }
      },
      device_characteristics_machine: {
        type: ''
      },
      device_characteristics_general: {
        rated_capacity: 0
      },
      device_characteristics_dimensions: {
        mass: 0,
        wet_area: 0,
        characteristic_dimension: 0
      },
      ec_farm: {},
      ec_devices: [],
      et_results: {},
      et_results_array: {
        Array_E_Grid: {
          value: 0
        }
      },
      ed_results: {
        array_cable_total_length: 0,
        export_cable_total_length: 0,
        annual_yield: 0,
        array_reactive_output: [],
        array_power_output: []
      },
      downtime_hours: {
        project_life: 10
      },
      spey_study_data: {status : 50} ,
      validForm: null,
      spey_study: null,
      status : null,
      project : [],
      site_standalone: true,
      machine_standalone: true,
      capture_standalone : true,
      transformation_standalone : true,
      delivery_standalone: true,
      logistics_standalone : true,
      site_incomplete: false,
      machine_incomplete: false,
      capture_incomplete : false,
      transformation_incomplete : false,
      delivery_incomplete: false,
      logistics_incomplete : false,
      any_incomplete : false,
      studyexists : true,
      site_url : '',
      machine_url : '',
      capture_url : '',
      transformation_url : '',
      delivery_url : '',
      logistics_url : '',


    }
  },
  computed: {

    // ecCheck() {
    //   const length = this.ec_devices.length
    //   console.log(length)
    //   const number = this.ec_farm.number_devices

    //   if (length!=number) {
    //     this.$message.error('The number of devices must be equal to the entries in the file in Energy Capture');
    //     this.ECForm.number = length
    //     this.dialogECFormVisible = true
    //   }
    // },
    isAnyIncomplete () {
      let array_incomplete =[ this.site_incomplete, this.machine_incomplete, this.capture_incomplete, this.transformation_incomplete, this.delivery_incomplete, this.logistics_incomplete]
      console.log("aray_incomplete", array_incomplete)
      console.log("qualcuno incompleto?", array_incomplete.some(this.checkTrue))
      this.any_incomplete = array_incomplete.some(this.checkTrue)
      return this.any_incomplete

    },
    isRunIncomplete() {
      // console.log("status", this.speyId)

      return (this.status == 100 || this.isAnyIncomplete==true || this.speyId == undefined || this.speyId == null || this.speyId == '')
    },
    isRun() {
      return this.status == 100
    },
    scRules() {
      if (this.machine_standalone == true) {
        this.isTidal = this.MCForm.tech == 'TEC'
        this.isWave = this.MCForm.tech == 'WEC'
      } else {
        this.isTidal = true
        this.isWave = true

      }

      return {
        flux_tidal: [
          { required: this.isTidal, message: 'Please input the Average Flux', trigger: 'blur' },
          { type: 'number', message: 'Please enter a numeric type', trigger: 'blur' },
          { validator: this.validatePositive, trigger: 'blur' }
        ],
        flux_wave: [
          { required: this.isWave, message: 'Please input the Average Flux', trigger: 'blur' },
          { type: 'number', message: 'Please enter a numeric type', trigger: 'blur' },
          { validator: this.validatePositive, trigger: 'blur' }
        ],
        lease: [
          { required: true, message: 'Please input the Lease Area extension', trigger: 'blur' },
          { type: 'number', message: 'Please enter a numeric type', trigger: 'blur' },
          { validator: this.validatePositive, trigger: 'blur' }],
        CMS: [
          { required: this.isTidal, message: 'Please input the Current Monthly Scenarii', trigger: 'blur' }
        ],
        EJPD: [
          { required: this.isWave, message: 'Please input the Monthly Joint Probability Density', trigger: 'blur' }
        ]
      }
    },
    // Load_For_Main_Module: {
    //   get () {
    //     return this.$store.state.Load_For_Main_Module
    //   },
    //   set (newValue) {
    //     return this.$store.dispatch('set_Load_For_Main_ModuleAction', newValue)
    //   }
    // }
  },
  // beforeCreate() {
  //   if(this.$route.query.EntityId!=null) {
  //     this.store_entity(this.$route.query.EntityId)
  //   }
  // },
  created() {
    var entityID = this.$route.query.entityID
    console.log("speyid", this.speyId, "entityID", entityID)
    if ( entityID === undefined )  {
      if ( !this.speyId ) {
        // if the studyID is not defined and the entityID is not defined raise an error
        this.$message.error()
        this.$notify.error({
          title: 'Error',
          message: 'Invalid Entity ID, please go the Main Module page and re-open the correct entity for SPEY',
          duration: 0
        })
        return -1
      } else {
        this.getProject(this.speyId)
      }
      // if the studyID is not set and the entityID is available we save the value to Vuex

    } else {

        // if the studyID is set but it is different from the query parameter
        // the value is reset to the incoming parameter in Vuex
        this.getProject(entityID)

      }
      // if the studId is set and entityId is not, there is nothing to do

    // if (this.studyId !== parseInt(this.studyId, 10)) {
    //     this.$message.error('Invalid Project ID, redirecting to the project List');
    //     this.$router.push({ name: "ECStudiesIndex" });
    // }
    // this.get_integration_data(this.$store.getters.speyId)
  },

  methods: {
    isIntegrated(standalone){
      // console.log(standalone)
      return !standalone
    },
    isComplete(incomplete){
      return !incomplete
    },
    checkTrue(boolean) {
      return boolean==true
    },
    // isAnyIncomplete(site_incomplete, machine_incomplete, capture_incomplete, transformation_incomplete, delivery_incomplete, logistics_incomplete){
    //   console.log( "inputs", site_incomplete)
    //   let array_incomplete =[ site_incomplete, machine_incomplete, capture_incomplete, transformation_incomplete, delivery_incomplete, logistics_incomplete]
    //   console.log("aray_incomplete", array_incomplete)
    //   console.log("qualcuno incompleto?", array_incomplete.some(this.checkTrue))
    //   this.any_incomplete = array_incomplete.some(this.checkTrue)
    //   return this.any_incomplete
      // return !incomplete
    // },
    get_siteEntity() {
      try {
        let prj_str = this.project
        let study = prj_str.filter((s) => {return s.moduleId==8})
        let site_entity = prj_str.filter((e)=>{return e.studyId==study[0].studyId && e.moduleId==1})
        this.scId = site_entity[0].entityId
        this.get_siteStatus(this.scId)
        // this.site_standalone = true
      } catch (error) {
        this.$message.error(error)
        this.site_standalone = true
        // this.scId = "User-Defined"
        this.$notify.warning({
              title: 'SC warning',
              message: 'No SC entity has been registered, so please insert data manually.',
              duration:0
            })

      }
      return this.project
    },
    get_siteStatus(siteId) {
      const path = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/${siteId}/status`
      axios.get(path)
        .then((res) => {
          // debugger
          let entity_data = res.data
          let url_entity = `${DTOP_PROTOCOL}//sc.${DTOP_DOMAIN}/sc/#/sc-entity?entityID=${siteId}`
          let text_entity = "here"
          this.site_url= text_entity.link(url_entity)
          console.log ("SC entity: " )
          if (entity_data ===100) {
            this.site_standalone = false
            this.site_incomplete = false
            // this.$notify.info({
            //   title: 'Info',
            //   message: 'A SC entity has been registered and finalised. You can see details clicking ' + text_entity.link(url_entity),
            //   duration:0
            // })
          } else {
            this.site_standalone = false
           this.site_incomplete = true
            this.$notify.warning({
              title: 'SC warning',
              message: 'A SC entity has been registered but not finalised.',
              duration:0
            })
          }
        })
        .catch((error) => {
          this.site_standalone = false
          this.site_incomplete = true
            this.$notify.error({
              title: 'Error',
              message: 'Error retrieving the status of the SC entity.',
              duration:0
            })
        })
    },

    get_machineEntity() {
      try {
        let prj_str = this.project
        let study = prj_str.filter((s) => {return s.moduleId==8})
        let machine_entity = prj_str.filter((e)=>{return e.studyId==study[0].studyId && e.moduleId==2})
        this.mcId = machine_entity[0].entityId
        this.get_machineStatus(this.mcId)
        // this.machine_standalone = false
      } catch (error) {
        this.$message.error(error)
        this.machine_standalone = true
        // this.mcId = "User-Defined"
        this.$notify.warning({
              title: 'MC warning',
              message: 'No MC entity has been registered, so please insert data manually.',
              duration:0
            })

      }
      return this.project
    },
    get_machineStatus(machineId) {
      const path = `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/${machineId}`
      axios.get(path)
        .then((res) => {
          // debugger
          let entity_data = res.data
          let url_entity = `${DTOP_PROTOCOL}//mc.${DTOP_DOMAIN}/mc/#/mc-entity?entityID=${machineId}`
          let text_entity = "here"
          this.machine_url= text_entity.link(url_entity)
          console.log ("MC entity: " )
          if (entity_data.status===100) {
            this.machine_standalone = false
            this.machine_incomplete = false
            // this.$notify.info({
            //   title: 'Info',
            //   message: 'A MC entity has been registered and finalised. You can see details clicking ' + text_entity.link(url_entity),
            //   duration:0
            // })
          } else {
            this.machine_standalone = false
           this.machine_incomplete = true
            this.$notify.warning({
              title: 'MC warning',
              message: 'A MC entity has been registered but not finalised.',
              duration:0
            })
          }
        })
        .catch((error) => {
          this.machine_standalone = false
          this.machine_incomplete = true
            this.$notify.error({
              title: 'Error',
              message: 'Error retrieving the status of the MC entity.',
              duration:0
            })
        })
    },
    get_captureEntity() {
      try {
        let prj_str = this.project
        let study = prj_str.filter((s) => {return s.moduleId==8})
        let capture_entity = prj_str.filter((e)=>{return e.studyId==study[0].studyId && e.moduleId==3})
        this.ecId = capture_entity[0].entityId
        this.get_captureStatus(this.ecId)
        // this.machine_standalone = false
      } catch (error) {
        this.$message.error(error)
        this.capture_standalone = true
        // this.ecId = "User-Defined"
        this.$notify.warning({
              title: 'EC Warning',
              message: 'No EC entity has been registered, so please insert data manually.',
              duration:0
            })

      }
      return this.project
    },
    get_captureStatus(captureId) {
      const path = `${DTOP_PROTOCOL}//ec.${DTOP_DOMAIN}/ec/${captureId}`
      axios.get(path)
        .then((res) => {
          // debugger
          let entity_data = res.data
          let url_entity = `${DTOP_PROTOCOL}//ec.${DTOP_DOMAIN}/ec/#/ec-entity?entityID=${captureId}`
          let text_entity = "here"
          this.capture_url= text_entity.link(url_entity)
          console.log ("EC entity: " )
          if (entity_data.status===100) {
            this.capture_standalone = false
            this.capture_incomplete = false
            // this.$notify.info({
            //   title: 'Info',
            //   message: 'An EC entity has been registered and finalised. You can see details clicking ' + text_entity.link(url_entity),
            //   duration:0
            // })
          } else {
            this.capture_standalone = false
           this.capture_incomplete = true
            this.$notify.warning({
              title: 'EC warning',
              message: 'An EC entity has been registered but not finalised.',
              duration:0
            })
          }
        })
        .catch((error) => {
          this.capture_standalone = false
          this.capture_incomplete = true
            this.$notify.error({
              title: 'Error',
              message: 'Error retrieving the status of the EC entity.',
              duration:0
            })
        })
    },
    get_transformationEntity() {
      try {
        let prj_str = this.project
        let study = prj_str.filter((s) => {return s.moduleId==8})
        let transformation_entity = prj_str.filter((e)=>{return e.studyId==study[0].studyId && e.moduleId==4})
        this.etId = transformation_entity[0].entityId
        this.get_transformationStatus(this.etId)
        // this.machine_standalone = false
      } catch (error) {
        this.$message.error(error)
        this.transformation_standalone = true
        // this.etId = "User-Defined"
        this.$notify.warning({
              title: 'ET warning',
              message: 'No ET entity has been registered, so please insert data manually.',
              duration:0
            })

      }
      return this.project
    },
    get_transformationStatus(transformationId) {
      const path = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/energy_transf/${transformationId}`
      axios.get(path)
        .then((res) => {
          // debugger
          let entity_data = res.data
          let url_entity = `${DTOP_PROTOCOL}//et.${DTOP_DOMAIN}/#/energy_transf/${transformationId}/other-modules`
          let text_entity = "here"
          this.transformation_url= text_entity.link(url_entity)
          console.log ("ET entity: " )
          if (entity_data.study_result.status===100) {
            this.transformation_standalone = false
            this.transformation_incomplete = false
            // this.$notify.info({
            //   title: 'Info',
            //   message: 'An ET entity has been registered and finalised. You can see details clicking ' + text_entity.link(url_entity),
            //   duration:0
            // })
          } else {
            this.transformation_standalone = false
           this.transformation_incomplete = true
            this.$notify.warning({
              title: 'ET warning',
              message: 'An ET entity has been registered but not finalised.',
              duration:0
            })
          }
        })
        .catch((error) => {
          this.transformation_standalone = false
          this.transformation_incomplete = true
            this.$notify.error({
              title: 'Error',
              message: 'Error retrieving the status of the ET entity.',
              duration:0
            })
        })
    },

    get_deliveryEntity() {
      try {
        let prj_str = this.project
        let study = prj_str.filter((s) => {return s.moduleId==8})
        let delivery_entity = prj_str.filter((e)=>{return e.studyId==study[0].studyId && e.moduleId==5})
        this.edId = delivery_entity[0].entityId
        this.get_deliveryStatus(this.edId)
        // this.machine_standalone = false
      } catch (error) {
        this.$message.error(error)
        this.delivery_standalone = true
        // this.edId = "User-Defined"
        this.$notify.warning({
              title: 'ED warning',
              message: 'No ED entity has been registered, so please insert data manually.',
              duration:0
            })

      }
      return this.project
    },
    get_deliveryStatus(deliveryId) {
      const path = `${DTOP_PROTOCOL}//ed.${DTOP_DOMAIN}/api/energy-deliv-studies/${deliveryId}`
      axios.get(path)
        .then((res) => {
          // debugger
          let entity_data = res.data
          let url_entity = `${DTOP_PROTOCOL}//ed.${DTOP_DOMAIN}/#/energy-deliv-studies/${deliveryId}`
          let text_entity = "here"
          this.delivery_url= text_entity.link(url_entity)
          if (entity_data.status===100) {
            this.delivery_standalone = false
            this.delivery_incomplete = false
            // this.$notify.info({
            //   title: 'Info',
            //   message: 'An ED entity has been registered and finalised. You can see details clicking ' + text_entity.link(url_entity),
            //   duration:0
            // })
          } else {
            this.delivery_standalone = false
           this.delivery_incomplete = true
            this.$notify.warning({
              title: 'ED warning',
              message: 'An ED entity has been registered but not finalised.',
              duration:0
            })
          }
        })
        .catch((error) => {
          this.delivery_standalone = false
          this.delivery_incomplete = true
            this.$notify.error({
              title: 'Error',
              message: 'Error retrieving the status of the Ed entity.',
              duration:0
            })
        })
    },

    get_logisticsEntity() {
      try {
        let prj_str = this.project
        let study = prj_str.filter((s) => {return s.moduleId==8})
        let logistics_entity = prj_str.filter((e)=>{return e.studyId==study[0].studyId && e.moduleId==7})
        this.lmoId = logistics_entity[0].entityId
        this.get_logisticsStatus(this.lmoId)
        // this.machine_standalone = false
      } catch (error) {
        this.$message.error(error)
        this.logistics_standalone = true
        // this.lmoId = "User-Defined"
        this.$notify.warning({
              title: 'LMO warning',
              message: 'No LMO entity has been registered, so please insert data manually.',
              duration:0
            })

      }
      return this.project
    },
    get_logisticsStatus(logisticsId) {
      const path = `${DTOP_PROTOCOL}//lmo.${DTOP_DOMAIN}/api/study/${logisticsId}`
      axios.get(path)
        .then((res) => {
          // debugger
          let entity_data = res.data
          let url_entity = `${DTOP_PROTOCOL}//lmo.${DTOP_DOMAIN}/#/study/${logisticsId}/home`
          let text_entity = "here"
          this.logistics_url= text_entity.link(url_entity)
          if (entity_data.status===100) {
            this.logistics_standalone = false
            this.logistics_incomplete = false
            // this.$notify.info({
            //   title: 'Info',
            //   message: 'A LMO entity has been registered and finalised. You can see details clicking ' + text_entity.link(url_entity),
            //   duration:0
            // })
          } else {
            this.logistics_standalone = false
           this.logistics_incomplete = true
            this.$notify.warning({
              title: 'LMO warning',
              message: 'A LMO entity has been registered but not finalised.',
              duration:0
            })
          }
        })
        .catch((error) => {
          this.logistics_standalone = false
          this.logistics_incomplete = true
            this.$notify.error({
              title: 'Error',
              message: 'Error retrieving the status of the LMO entity.',
              duration:0
            })
        })
    },

    get_integration_data(speyId) {
      // "http://0.0.0.0/dtop/integration/modules/ec/entities/1/projects"
      const path = `${DTOP_PROTOCOL}//mm.${DTOP_DOMAIN}/api/integration/modules/spey/entities/${speyId}`
      console.log
      axios.get(path)
        .then((res) => {
          // debugger
          this.project = res.data
          if (this.project.length == 0) {
            this.$notify.error({
            title: 'Info',
            message: 'Connection established with the Main Module, but this SPEY entity is not registered.'
          })

          } else {
            console.log("project data : ", this.project)
          this.$notify.info({
            title: 'Info',
            message: 'Connection established with the Main Module.'
          })
          this.get_siteEntity()
          this.get_machineEntity()
          this.get_captureEntity()
          this.get_transformationEntity()
          this.get_deliveryEntity()
          this.get_logisticsEntity()

          // this.$store.dispatch('studies/setProjectStructure', { project_structure: res.data })
          // this.loading = false
          // this.iconMachine = ( this.$router.currentRoute.path.includes('model') ? "el-icon-edit" : null )
          // this.iconSite = ( this.$router.currentRoute.path.includes('dimension') ? "el-icon-edit" : null )
          // this.iconLayout = ( this.$router.currentRoute.path.includes('general') ? "el-icon-edit" : null )
        }

          }
          )
        .catch((error) => {
          this.project = []
          // this.loading = false
          this.$notify.error({
            showClose: true,
            duration: 0,
            title: "Connection Error",

          message:'Cannot establish a connection with the Main Module. SPEY can be used only as a standalone.',

        });

          // this.$message.error('Cannot establish a connection with the Main Module. SPEY can be used only as a standalone.'
        })
    },

    getProject(speyId) {

      console.log(speyId)
      if (speyId == undefined) {
        this.$message.error('Invalid Study, redirecting to the Study List. Select one study first');
        this.$router.push({ name: "SPEY Studies" });
      } else {


        const path = `${DTOP_PROTOCOL}//spey.${DTOP_DOMAIN}/spey/${speyId}`
        axios.get(path)
          .then((res) => {

            this.spey_study_data = res.data
            // console.log(this.spey_study_data)

            this.$store.dispatch('setId', { speyId: speyId })
            this.$store.dispatch('setStatus', { status: this.spey_study_data.status })
            this.speyId= this.$store.getters.speyId
            this.status = this.$store.getters.status
            if (this.status == 100) {
              this.getInputs(this.speyId)
              // this.get_integration_data(speyId)
              // this.getInputs(this.speyId)
              this.getDr(this.speyId)
              // this.$store.dispatch('setStatus', { status: 100 })
              this.$notify.info({
              title: 'Info',
              message: 'SPEY has already run and you can only modify the inputs from the GUi and see the results',
              duration: 0
            })
            } else {
              this.get_integration_data(speyId)
            //   this.$notify.info({
            //   title: 'Info',
            //   message: 'SPEY is not run yet and is fetching the data from other modules',
            //   duration:0
            // })


            }
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
            this.$message.error('Invalid Study, go back to the main module and select the correct entity');
            // this.studyexists = false
            // this.$router.push({ name: "SPEY Studies" });
          })
        }
    },
    getInputs(speyId) {
      const path = `${DTOP_PROTOCOL}//spey.${DTOP_DOMAIN}/spey/${speyId}/inputs`
      axios.get(path)
        .then((res) => {
          this.spey_study = res.data
          this.mcId = this.spey_study.mcId
          this.scId = this.spey_study.scId
          this.ecId = this.spey_study.ecId
          this.etId = this.spey_study.etId
          this.edId = this.spey_study.edId
          this.lmoId = this.spey_study.lmoId
          this.MCForm.tech = this.spey_study.device_characteristics_machine.type
          this.MCForm.mass = this.spey_study.device_characteristics_dimensions.mass
          this.MCForm.wet = this.spey_study.device_characteristics_dimensions.wet_area
          this.MCForm.charact_lenght = this.spey_study.device_characteristics_dimensions.characteristic_dimension
          this.MCForm.rated_power = this.spey_study.device_characteristics_general.rated_capacity
          this.SCForm.lease = this.spey_study.sc_farm.surface
          this.SCForm.flux_wave = this.spey_study.wave_flux.mean
          this.SCForm.flux_tidal = this.spey_study.current_flux.mean
          this.current_scenarii = this.spey_study.current_scenarii
          this.wave_EJPD = this.spey_study.wave_EJPD

          if (this.ecId != "None" && this.ecId != null) {
            this.ECForm.aep = this.spey_study.ec_farm.aep
            this.ECForm.arrayqf = this.spey_study.ec_farm.q_factor
            this.ECForm.number = this.spey_study.ec_farm.number_devices
            this.ec_devices = this.spey_study.ec_devices
            this.ec_farm = this.spey_study.ec_farm
          }

          if (this.etId != "None" && this.etId != null) {
            this.ETForm.aep = this.spey_study.et_results_array.Array_E_Grid.value
            this.et_results = this.spey_study.et_results
            this.et_results_array = this.spey_study.et_results_array
          }

          if (this.edId != "None" && this.edId != null) {
            this.EDForm.total_length = this.spey_study.ed_results.array_cable_total_length
            this.EDForm.export_length = this.spey_study.ed_results.export_cable_total_length
            this.EDForm.aep = this.spey_study.ed_results.annual_yield
            this.ed_results = this.spey_study.ed_results
          }

          if (this.lmoId != "None" && this.lmoId != null) {
            this.LMOForm.life = this.spey_study.downtime_hours.project_life
            this.downtime_hours = this.spey_study.downtime_hours
          }

        this.get_integration_data(this.speyId)

        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })
    },
    postStudy(payload, speyId) {
      const path = `${DTOP_PROTOCOL}//spey.${DTOP_DOMAIN}/spey/${speyId}/inputs`
      axios.post(path, payload)
        .then(() => {
          this.studyMessage('SPEY has run', 'success')
          this.getProject(this.speyId)
          this.$store.dispatch('setStatus', { status: 100 })
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(error);
          this.studyMessage(error.response.data.message, 'error')
        })
    },
    onSubmit() {
      this.dialogFormVisible = false
      this.dialogEJPD = false
      this.dialogCMS = false
      this.dialogEC = false
      this.dialogET = false
      this.dialogED = false
      this.dialogLMO = false
      // const payload = this.uploadJson
      // this.addStudy(payload)
      // this.initForm()
    },
    onSubmitScUd(studyForm) {
      this.validateForm(studyForm)
      if (this.validForm) {
        this.dialogSCFormVisible = false
        this.scId = 'User-Defined'
        this.site_incomplete = false
        // console.log(this.SCForm.CMS)
        this.sc_farm.surface = this.SCForm.lease
        this.wave_flux.mean = this.SCForm.flux_wave
        this.current_flux.mean = this.SCForm.flux_tidal


        if (this.isWave) {
          const d = []
          const id = []
          // console.log(this.SCForm.EJPD)
          this.SCForm.EJPD.forEach(function(wave_pdf) {
          // console.log(wave_pdf)
            delete wave_pdf.id
            // console.log(Object.values(wave_pdf))
            id.push(Object.keys(wave_pdf))
            d.push(Object.values(wave_pdf))
          })
          this.wave_EJPD.id = id
          this.wave_EJPD.pdf = d
        }

        if (this.isTidal) {

          const id_c = []
          const d_c = []

          this.SCForm.CMS.forEach(function(current_pdf) {
          // console.log(wave_pdf)
            delete current_pdf.id
            // console.log(Object.values(wave_pdf))
            id_c.push(Object.keys(current_pdf))
            d_c.push(Object.values(current_pdf))
          })

          // this.current_scenarii = this.SCForm.CMS
          this.current_scenarii.id.January = id_c[0]
          this.current_scenarii.p.January = d_c[0]
          this.current_scenarii.id.February = id_c[1]
          this.current_scenarii.p.February = d_c[1]
          this.current_scenarii.id.March = id_c[2]
          this.current_scenarii.p.March = d_c[2]
          this.current_scenarii.id.April = id_c[3]
          this.current_scenarii.p.April = d_c[3]
          this.current_scenarii.id.May = id_c[4]
          this.current_scenarii.p.May = d_c[4]
          this.current_scenarii.id.June = id_c[5]
          this.current_scenarii.p.June = d_c[5]
          this.current_scenarii.id.July = id_c[6]
          this.current_scenarii.p.July = d_c[6]
          this.current_scenarii.id.August = id_c[7]
          this.current_scenarii.p.August = d_c[7]
          this.current_scenarii.id.September = id_c[8]
          this.current_scenarii.p.September = d_c[8]
          this.current_scenarii.id.October = id_c[9]
          this.current_scenarii.p.October = d_c[9]
          this.current_scenarii.id.November = id_c[10]
          this.current_scenarii.p.November = d_c[10]
          this.current_scenarii.id.December = id_c[11]
          this.current_scenarii.p.December = d_c[11]
        }
        // console.log(this.wave_EJPD)
      }

      // const payload = this.uploadJson
      // this.addStudy(payload)
      // this.initForm()
    },
    onSubmitMcUd(studyForm) {
      console.log(studyForm)
      this.validateForm(studyForm)
      if (this.validForm) {
        this.machine_incomplete = false
        this.dialogMCFormVisible = false
        this.mcId = 'User-Defined'
        // console.log(this.MCForm)
        this.device_characteristics_machine.type = this.MCForm.tech
        this.device_characteristics_dimensions.mass = this.MCForm.mass
        this.device_characteristics_dimensions.wet_area = this.MCForm.wet
        this.device_characteristics_dimensions.characteristic_dimension = this.MCForm.charact_lenght
        this.device_characteristics_general.rated_capacity = this.MCForm.rated_power
        // console.log(this.device_characteristics_general)
      }

      // const payload = this.uploadJson
      // this.addStudy(payload)
      // this.initForm()
    },
    onSubmitEcUd(studyForm) {
      this.validateForm(studyForm)
      if (this.validForm) {
        this.capture_incomplete = false
        const devices = []
        this.ECForm.captured.forEach(function(dev) {
          const obj = { 'aep': dev['Annual Captured Energy [kWh]'],
            'q_factor': dev['q-factor'] }
          // console.log(Object.values(wave_pdf))
          devices.push(obj)
        })

        if (this.ECForm.number!==devices.length){
          // console.log(devices.length)
          this.dialogECFormVisible = true
          this.$message.error('The number of devices is not consistent with the file you input')
        } else {
          this.dialogECFormVisible = false
          this.ecId = 'User-Defined'
          // console.log(this.ECForm)
          this.ec_farm.aep = this.ECForm.aep
          this.ec_farm.q_factor = this.ECForm.arrayqf
          this.ec_farm.number_devices = this.ECForm.number

          this.ec_devices = devices

          // console.log(this.ec_devices)

        }

      // const payload = this.uploadJson
      // this.addStudy(payload)
      // this.initForm()
      }
    },
    onSubmitEtUd(studyForm) {
      console.log ("ETForm = ", studyForm)
      this.validateForm(studyForm)
      if (this.validForm) {
        this.transformation_incomplete = false
        this.dialogETFormVisible = false
        this.etId = 'User-Defined'
        // console.log(this.ETForm)
        this.et_results_array.Array_E_Grid.value = this.ETForm.aep

        const devices = []
        this.ETForm.transformed.forEach(function(dev) {
          const obj = { 'Dev_E_Grid': { 'value': dev['Annual Transformed Energy [kWh]'] },
            'Dev_Pa_Grid': { 'value': { 'Power': Array.from(dev['Active Power per Sea State [kW]'].replace('[', '').replace(']', '').split(','), Number) }},
            'Dev_Pr_Grid': { 'value': { 'Power': Array.from(dev['Reactive Power per Sea State [kW]'].replace('[', '').replace(']', '').split(','), Number) }}}
          // console.log(Object.values(wave_pdf))
          devices.push(obj)
        })

        this.et_results = devices
        // console.log(this.et_results_array)
        // console.log(this.et_results)
      // const payload = this.uploadJson
      // this.addStudy(payload)
      // this.initForm()
      }
    },
    onSubmitEdUd(studyForm) {
      this.validateForm(studyForm)
      if (this.validForm) {
        this.delivery_incomplete = false
        this.dialogEDFormVisible = false
        this.edId = 'User-Defined'
        // console.log(this.EDForm)
        this.ed_results.array_cable_total_length = parseFloat(this.EDForm.total_length)
        this.ed_results.export_cable_total_length = parseFloat(this.EDForm.export_length)
        this.ed_results.annual_yield = parseFloat(this.EDForm.aep)

        const d = []

        this.EDForm.delivered.forEach(function(power) {
          delete power.id
          d.push(Object.values(power))
        })
        this.ed_results.array_power_output = d[0]
        this.ed_results.array_reactive_output = d[1]

        // console.log(this.ed_results)

      // const payload = this.uploadJson
      // this.addStudy(payload)
      // this.initForm()
      }
    },
    onSubmitLmoUd(studyForm) {
      this.validateForm(studyForm)
      if (this.validForm) {
        if (this.LMOForm.life!=this.LMOForm.downtime[0]['downtime_table']['jan'].length) {
          this.$message.error('The project life is not consistent with the file you input')

        } else{
          this.logistics_incomplete = false
        this.dialogLMOFormVisible = false
        this.lmoId = 'User-Defined'
        // console.log(this.LMOForm)
        this.downtime_hours.project_life = this.LMOForm.life
        this.downtime_hours.downtime = this.LMOForm.downtime
        // console.log(this.downtime_hours)
        }

      // const payload = this.uploadJson
      // this.addStudy(payload)
      // this.initForm()
      }
    },
    onSubmitLMOmod() {
      this.dialogLMOFormVisible = false

      // const payload = this.uploadJson
      // this.addStudy(payload)
      // this.initForm()
    },
    onCancel(formName) {
      if (formName=="SC") {
        this.dialogSCFormVisible = false
        this.SCForm =  {
        flux_tidal: 1,
        flux_wave: 1,
        lease: 0,
        EJPD: null,
        CMS: null
      }} else if (formName=="MC") {
        this.dialogMCFormVisible = false
        this.MCForm= {
        rated_power: 0,
        tech: '',
        mass: 0,
        wet: 0,
        charact_lenght: 0
      }} else if (formName=="EC") {
        this.dialogECFormVisible = false
        this.ECForm= {
        number: 0,
        aep: 0,
        arrayqf: 0,
        captured: null
      }} else if (formName=="ET") {
        this.dialogETFormVisible = false
        this.ETForm={
        aep: 0,
        transformed: null
      }
      } else if (formName=="ED") {
        this.dialogEDFormVisible = false
        this.EDForm={
        aep: 0,
        transformed: null
      }
      } else if (formName=="LMO") {
        this.dialogLMOFormVisible = false
        this.LMOForm={
        life: 10,
        downtime: null
      }
      }
      // this.dialogLMOModuleVisible = false
      this.dialogEJPD = false
      this.dialogCMS = false
      this.dialogEC = false
      this.dialogET = false
      this.dialogED = false
      this.dialogLMO = false
      this.getProject(this.speyId)

      this.operationMessage('Operation cancelled')
      // this.initForm()
      // this.getStudies()
    },
    onCancelInputs() {
      this.dialogEJPD = false
      this.dialogCMS = false
      this.dialogEC = false
      this.dialogET = false
      this.dialogED = false
      this.dialogLMO = false
      this.operationMessage('Operation cancelled')
      // this.initForm()
      // this.getStudies()
    },
    operationMessage(content) {
      this.$message({
        message: content
      })
    },
    onDialogSc() {
      if (this.MCForm.tech!='') {
        this.isTidal = this.MCForm.tech == 'TEC'
        this.isWave = this.MCForm.tech == 'WEC'
        this.dialogSCFormVisible=true
      } else if (this.machine_standalone == false) {
        this.dialogSCFormVisible=true
        this.$message.warning('You have to include both Wave and Tidal data');
      } else {
        this.$message.error('You have to select the technology Wave/Tidal first in Machine Characterisation');
      }
    },
    onEditStudy() {
            let site_data = {}
      let machine_data = {}

      if (this.scId=="User-Defined") {
        site_data = {
          scId: this.scId,
          sc_farm: {surface: this.SCForm.lease},
          wave_flux: {mean: this.SCForm.flux_wave},
          current_flux: {mean: this.SCForm.flux_tidal},
          wave_EJPD: this.wave_EJPD,
          current_scenarii: this.current_scenarii,
        }
      } else {
        site_data = {
          scId: this.scId,
          sc_farm: {'url': `/sc/${this.scId}/farm/info`},
          wave_flux: {'url': `/sc/${this.scId}/point/statistics/waves/Basic/CgE`},
          current_flux: {'url': `/sc/${this.scId}/point/statistics/currents/Basic/Flux`},
          wave_EJPD: {'url': `/sc/${this.scId}/point/statistics/waves/EJPD3v/hs_tp_dp_monthly_flattened`},
          current_scenarii: {'url': `/sc/${this.scId}/farm/scenarii_matrices/currentsmonthly`},
        }

      }
      if (this.mcId=="User-Defined") {
        machine_data = {
          mcId: this.mcId,
          device_characteristics_dimensions: {mass: this.MCForm.mass, wet_area: this.MCForm.wet, characteristic_dimension: this.MCForm.charact_lenght  },
          device_characteristics_general: {rated_capacity: this.MCForm.rated_power },
          device_characteristics_machine: {type: this.MCForm.tech}
        }
      } else {
        machine_data = {
          mcId: this.mcId,
          device_characteristics_dimensions: {'url': `/mc/${this.mcId}/dimensions`},
          device_characteristics_general: {'url':  `/mc/${this.mcId}/general`},
          device_characteristics_machine: {'url': `/mc/${this.mcId}`},
        }

      }

      const payload = {
        ... site_data,
        ... machine_data
      }
      // console.log(this.ETForm)
      if (this.ecId != "None" && this.ecId != null) {
        if (this.ecId=="User-Defined") {
          payload.ec_farm = this.ec_farm
          payload.ec_devices = this.ec_devices
          payload.ecId = this.ecId
        } else {
          payload.ec_farm = {'url': `/ec/${this.ecId}/farm`},
          payload.ec_devices = {'url': `/ec/${this.ecId}/devices`}
          payload.ecId = this.ecId
        }

      }

      if (this.etId != 'None' && this.etId != null) {
        if (this.etId=="User-Defined") {
          payload.et_results = this.et_results
          payload.et_results_array = this.et_results_array
          payload.etId = this.etId
        } else {
          payload.et_results = {'url': `/energy_transf/${this.etId}/devices`}
          payload.et_results_array =  {'url': `/energy_transf/${this.etId}/array`}
          payload.etId = this.etId
        }

      }

      if (this.edId != 'None' && this.edId != null) {
        if (this.edId=="User-Defined") {
        payload.ed_results = this.ed_results
        payload.edId = this.edId
      }  else {
        payload.ed_results = {'url':  `/api/energy-deliv-studies/${this.edId}/results`}
        payload.edId = this.edId
      }}

      if (this.lmoId != 'None' && this.lmoId != null) {
        if (this.lmoId=="User-Defined") {
        payload.downtime_hours = this.downtime_hours
        payload.lmoId = this.lmoId
      }  else {
        payload.downtime_hours = {'url': `/api/${this.lmoId}/phases/maintenance/downtime`}
        payload.lmoId = this.lmoId
      }}

      // ec_farm: this.ec_farm,
      // ec_devices: this.ec_devices
      // console.log(payload)
      this.postStudy(payload, this.speyId)
      this.status= this.spey_study_data.status
      console.log (payload)
    },
    onSubmitStudy() {

      if (this.scId !== null && this.mcId !== null){
      let site_data = {}
      let machine_data = {}
              if (this.site_standalone) {
        site_data = {
          scId: this.scId,
          sc_farm: {surface: this.SCForm.lease},
          wave_flux: {mean: this.SCForm.flux_wave},
          current_flux: {mean: this.SCForm.flux_tidal},
          wave_EJPD: this.wave_EJPD,
          current_scenarii: this.current_scenarii,
        }
      } else {
         site_data = {
          scId: this.scId,
          sc_farm: {'url': `/sc/${this.scId}/farm/info`},
          wave_flux: {'url': `/sc/${this.scId}/point/statistics/waves/Basic/CgE`},
          current_flux: {'url': `/sc/${this.scId}/point/statistics/currents/Basic/Flux`},
          wave_EJPD: {'url': `/sc/${this.scId}/point/statistics/waves/EJPD3v/hs_tp_dp_monthly_flattened`},
          current_scenarii: {'url': `/sc/${this.scId}/farm/scenarii_matrices/currentsmonthly`},
        }

      }
      if (this.machine_standalone) {
         machine_data = {
          mcId: this.mcId,
          device_characteristics_dimensions: {mass: this.MCForm.mass, wet_area: this.MCForm.wet, characteristic_dimension: this.MCForm.charact_lenght  },
          device_characteristics_general: {rated_capacity: this.MCForm.rated_power },
          device_characteristics_machine: {type: this.MCForm.tech}
        }
      } else {
         machine_data = {
          mcId: this.mcId,
          device_characteristics_dimensions: {'url': `/mc/${this.mcId}/dimensions`},
          device_characteristics_general: {'url':  `/mc/${this.mcId}/general`},
          device_characteristics_machine:{'url':  `/mc/${this.mcId}`},
        }

      }

      const payload = {
        ... site_data,
        ... machine_data
      }

        // console.log(this.ETForm)


      // console.log(this.ETForm)
      if (this.ecId != null) {
        if (this.capture_standalone) {
          payload.ec_farm = this.ec_farm
          payload.ec_devices = this.ec_devices
          payload.ecId = this.ecId
        } else {
          payload.ec_farm = {'url': `/ec/${this.ecId}/farm`},
          payload.ec_devices = {'url': `/ec/${this.ecId}/devices`}
          payload.ecId = this.ecId
        }

      }

      if (this.etId != null) {
        if (this.transformation_standalone) {
          payload.et_results = this.et_results
          payload.et_results_array = this.et_results_array
          payload.etId = this.etId
        } else {
          payload.et_results = {'url': `/energy_transf/${this.etId}/devices`}
          payload.et_results_array =  {'url': `/energy_transf/${this.etId}/array`}
          payload.etId = this.etId
        }

      }

      if (this.edId != null) {
        if (this.delivery_standalone) {
        payload.ed_results = this.ed_results
        payload.edId = this.edId
      }  else {
        payload.ed_results = {'url': `/api/energy-deliv-studies/${this.edId}/results`}
        payload.edId = this.edId
      }
      }

      if (this.lmoId != null) {
        if (this.logistics_standalone) {
        payload.downtime_hours = this.downtime_hours
        payload.lmoId = this.lmoId
      }  else {
        payload.downtime_hours = {'url' : `/api/${this.lmoId}/phases/maintenance/downtime`}
        payload.lmoId = this.lmoId
      }
      }

        this.postStudy(payload, this.speyId)
        console.log ("payload ",  payload)

      } else {
        this.$message.error('You have to include at least Machine Characterisation and Site Characterisation data');
      }


      // ec_farm: this.ec_farm,
      // ec_devices: this.ec_devices
      // console.log(payload)

      // this.getProject(this.speyId)
      // this.status= 100
      // console.log(this.status)
    },
    studyMessage(content, msgType) {
      this.$message({
        message: content,
        type: msgType
      })
    },
    handleCurrentChange(val) {
      // this.currentRow = val
      this.lmoId = val.lmoId
      this.edId = val.edId
      this.etId = val.etId
      this.ecId = val.ecId
      this.scId = val.scId
      this.mcId = val.mcId
    },
    validateForm(formName) {
      this.$refs[formName].validate((valid) => {
        this.validForm = valid
      })
    },
    validatePositive(rule, value, callback) {
      if (value <= 0) {
        callback(new Error('Value must be positive'))
      } else {
        callback()
      }
    },
    goOutputs() {
      this.$router.push({ name: 'SpeyOutputs', params: { speyId: this.speyId }})
    },
    onExportDr() {

      console.log(this.dr_data)
      this.saveToFile(this.dr_data, 'SPEY_DR.json')
    },
    saveToFile(jsonData, filename) {
      const jsonDataString = JSON.stringify(jsonData)
      const blob = new Blob([jsonDataString], { type: 'text/plain;charset=utf-8;' })
      if (navigator.msSaveBlob) { // IE 10+
        navigator.msSaveBlob(blob, filename)
      } else {
        const link = document.createElement('a')
        if (link.download !== undefined) { // feature detection
          // Browsers that support HTML5 download attribute
          const url = URL.createObjectURL(blob)
          link.setAttribute('href', url)
          link.setAttribute('download', filename)
          link.style.visibility = 'hidden'
          document.body.appendChild(link)
          link.click()
          document.body.removeChild(link)
        }
      }
    },
    getDr(speyId) {
      const path = `${DTOP_PROTOCOL}//spey.${DTOP_DOMAIN}/representation/${speyId}`
      console.log(path)
      axios.get(path)
        .then((res) => {
          this.dr_data = res.data
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })
    },
    // store_entity(eid) {
    //   this.getProject(eid)
    //   if (this.studyexists==true) {
    //     this.$store.dispatch('setId', { speyId: eid })
    //     this.speyId= this.$store.getters.speyId
    //   }
    // }
  }
}
</script>
