<!DOCTYPE html>
<html>
  <body>

    <p> <a href="{{ url_for('core_api.index') }}">api doc</a> </p>

    <p> <a href="{{ url_for('assessment_api.get_all_projects') }}">Assessment</a> </p>

    <p> <a href="{{ url_for('core_api.doc') }}">api core</a> </p>

    <p> <a href="{{ url_for('core_gui.index') }}">gui core</a> </p>

    <p> <a href="{{ url_for('efficiency.index') }}">Efficiency</a></p>

    <p> <a href="{{ url_for('alternative_metrics.index') }}">Alternative Metrics</a></p>

  </body>
</html>
