<!DOCTYPE html>
<html>
  <body>
    <form class="form-inline" method="POST" action="{{ url_for('alternative_metrics.create') }}">
      <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">Level of Complexity * :</span>
                <select name="cpx_select" class="selectpicker form-control">
                  {% for o in data[0] %}
                  <option value="{{ o.cpx }}">{{ o.cpx }}</option>
                  {% endfor %}
                </select>
        </div>
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon">Technology_type *:</span>
                  <select name="tech_type" class="selectpicker form-control">
                    {% for o in data[1] %}
                    <option value="{{ o.type}}">{{ o.type }}</option>
                    {% endfor %}
                  </select>
          </div>
        Annual Flux [kWh/m (Wave) or kWH/m^2 (Tidal)] *: <input type="text" name="annual_flux"><br>
        Rated Power Device [kW] *: <input type="text" name="rated_power"><br>
        Characteristic Dimension Device [m] *: <input type="text" name="char_dim"><br>
        Number of Devices [-] *: <input type="text" name="number_devices"><br>
        Mass of the single device [kg] *: <input type="text" name="mass"><br>
        Wetted Area of the single device [m^2] *: <input type="text" name="wetted_area"><br>
        Annual Array Captured Production [kWh] : <input type="text" name="annual_captured_energy"><br>
        Annual Array Transformed Production [kWh]: <input type="text" name="annual_transformed_energy"><br>
        Annual Transformed Production per device (separated by commas) [kWh]: <input type="text" name="device_annual_transformed_energy"><br>
        <button type="submit" class="btn btn-default">CREATE</button><br>
        <br>
        <br>
        * means a required field
      </div>
    </form>
  </body>
</html>


