<!--
This is is the System Performance and Energy Yield (SPEY) for the DTOceanPlus suite of Tools.
Copyright (C) 2021 TECNALIA - Vincenzo Nava

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <el-row>
      <el-button
        icon="el-icon-download"
        data-cy-spey="saveFile"
        @click="saveToFile(table_data,filename)"
      >
        Save Data
      </el-button>
    </el-row>
    <br>
    <el-table
      ref="inputs_ep"
      v-loading="listLoading"
      :data="table_data"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
      style="width:100%"
    >
      <el-table-column
        prop="label"
        label="Parameter"
        sortable
        min-width="37"
      >
        <template slot-scope="scope">
          <!-- <el-popover
            ref="fromPopOver1"
            placement="top-start"
            width="250"
            trigger="hover">
            {{ scope.row.description }}
          </el-popover> -->
          {{ scope.row.label }}
          <!-- <span
            v-popover:fromPopOver1
            class="el-icon-info"/>S -->

          <el-tooltip effect="dark" :content="scope.row.description" placement="top-start">
            <i class="el-icon-info" />
          </el-tooltip>
          <!-- <el-popover trigger="hover" placement="top">
            <p>{{ scope.row.description }}</p>
            <div slot="reference" class="name-wrapper">
              <p>{{ scope.row.label }}</p>
            </div>
          </el-popover> -->
        </template>
      </el-table-column>
      <el-table-column
        prop="units"
        label="Units"
        min-width="26"
      />
      <el-table-column
        prop="value"
        label="Value"
        :filters="[{ text: 'Defined', value: false }, { text: 'Not Defined', value: true }]"
        :filter-method="filterValue"
        :filtered-value="[false]"
        filter-placement="bottom-end"
        min-width="30"
      >
        <template slot-scope="scope3">
          <span v-if="typeObj(scope3.row.value)==='number'">
            <p>{{ scope3.row.value }}</p>
          </span>
          <span v-if="typeObj(scope3.row.value)==='string'">
            <p>{{ scope3.row.value }}</p>
          </span>
          <template v-else-if="typeObj(scope3.row.value)==='array'">
            <el-button type="text" @click="openDialog(scope3.row)">[...]</el-button>
          </template>
          <template v-else-if="typeObj(scope3.row.value)==='object_array'">
            <el-button type="text" @click="openDialogArray(scope3.row)">[...]</el-button>
          </template>
          <template v-else-if="typeObj(scope3.row.value)==='object_string'">
            <el-button type="text" @click="openDialogString(scope3.row)">[...]</el-button>
          </template>
          <template v-else-if="typeObj(scope3.row.value)==='object_object'">
            <el-button type="text" @click="openDialogObject(scope3.row)">[...]</el-button>
          </template>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog v-if="selectedRow" :title="selectedRow.label" width="95%" :visible.sync="dialogTableVisible">
      <el-table :data="dataTableRow" width="100%">
        <el-table-column
          v-for="column in columns"
          :key="column"
          :prop="column"
          :label="column"
          :min-width="10"
        />
      </el-table>
    </el-dialog>
    <el-dialog v-if="selectedRow" :title="selectedRow.label" width="95%" :visible.sync="dialogTableDeviceYearVisible">
      <el-table
        :data="dataTableRow"
        style="width: 150%"
      >
        <el-table-column
          prop="device"
          label="Device"
          :min-width="10"
        />
        <el-table-column label="Months">
          <el-table-column
            v-for="column in columns"
            :key="column"
            :prop="column"
            :label="column"
            :min-width="10"
          >
            <template slot-scope="scope2">
              <span>
                <el-button type="text" @click="openList(scope2.row, column)">[...]</el-button>
              </span>
            </template>
          </el-table-column>
        </el-table-column>
      </el-table>
    </el-dialog>
    <el-dialog :visible.sync="ListVisible" width="60%">
      <el-table
        :data="ListColumn"
        style="width: 100%"
      >
        <el-table-column
          prop="year"
          label="Year"
        />
        <el-table-column
          prop="value"
          label="Hours"
        />
      </el-table>
    </el-dialog>
    <el-dialog v-if="selectedRow" :title="selectedRow.label" width="95%" :visible.sync="dialogDiagramVisible">
      <bar-chart :bar_chart_data="arrayPlot"></bar-chart>
    </el-dialog>
    <p />
  </div>
</template>
<script>


export default {
  props: [
    'table_data'
  ],
  filters: {

    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  components: {  },
  data() {
    return {
      radio: 1,
      dialogTableVisible: false,
      dialogTableDeviceYearVisible: false,
      ListVisible: false,
      columns: null,
      selectedRow: null,
      dataTableRow: null,
      list: null,
      listLoading: true,
      tableData: {
        'Inputs_EP': {
          'monthly_resource_histogram': '',
          'power_delivery_histogram': '',
          'number_devices': '',
          'project_life': '',
          'downtime_hours_per_device': ''
        },
        'Outputs_EP': {
          'array_lifetime_gross_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_annual_gross_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_monthly_gross_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'device_lifetime_gross_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'device_annual_gross_energy_pd': {
            'value': '',
            'Aggregation-Level': 'device'
          },
          'device_monthly_gross_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_lifetime_lost_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_annual_lost_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_monthly_lost_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'device_lifetime_lost_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'device_annual_lost_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'device_monthly_lost_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_lifetime_net_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_annual_net_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_monthly_net_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'device_lifetime_net_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'device_annual_net_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'device_monthly_net_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_lifetime_net_ratio_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_lifetime_lost_ratio_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_annual_net_ratio_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_annual_lost_ratio_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_monthly_net_ratio_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_monthly_lost_ratio_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'device_lifetime_net_ratio_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'device_lifetime_lost_ratio_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'device_annual_net_ratio_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'device_annual_lost_ratio_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'device_monthly_net_ratio_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'device_monthly_lost_ratio_pd': {
            'value': '',
            'Aggregation-Level': ''
          }
        }
      },
      filename: 'inputs_energy_production.json',
      speyId: this.$store.getters.speyId,
      listOfObjects: null,
      ListColumn: null
    }
  },
  created() {
    this.fetchData()
    // this.getEnergyProduction(this.speyId)
  },
  methods: {
    fetchData() {
      this.listLoading = false
    },
    saveToFile(jsonData, filename) {
      const jsonDataString = JSON.stringify(jsonData)
      const blob = new Blob([jsonDataString], { type: 'text/plain;charset=utf-8;' })
      if (navigator.msSaveBlob) { // IE 10+
        navigator.msSaveBlob(blob, filename)
      } else {
        const link = document.createElement('a')
        if (link.download !== undefined) { // feature detection
          // Browsers that support HTML5 download attribute
          const url = URL.createObjectURL(blob)
          link.setAttribute('href', url)
          link.setAttribute('download', filename)
          link.style.visibility = 'hidden'
          document.body.appendChild(link)
          link.click()
          document.body.removeChild(link)
        }
      }
    },
    // getEnergyProduction(speyId) {
    //   const path = `${DTOP_PROTOCOL}//spey.${DTOP_DOMAIN}/spey/${speyId}/energy-production`
    //   axios.get(path)
    //     .then((res) => {
    //       this.tableData = res.data
    //       this.listOfObjects = Object.keys(this.tableData.Inputs_EP)
    //         .map(key => ({ property: key, value: this.tableData.Inputs_EP[key].value, units: this.tableData.Inputs_EP[key]['Unit'], description: this.tableData.Inputs_EP[key]['Description'], label: this.tableData.Inputs_EP[key]['Label'] }))
    //     })
    //     .catch((error) => {
    //       // eslint-disable-next-line
    //       console.error(error);
    //     })
    // },
    typeObj(obj) {
      if (typeof obj === 'number') {
        return 'number'
      } else if (typeof obj === 'string') {
        return 'string'
      } else if (typeof obj === 'object') {
        if (Array.isArray(obj)) {
          return 'array'
        } else if (typeof obj[Object.keys(obj)[0]] === 'object') {
          return 'object_object'
        } else if (typeof obj[Object.keys(obj)[0]] === 'string') {
          return 'object_string'
        } else {
          return 'object_array'
        }
      }
    },
    openDialogArray(row) {
      this.selectedRow = row
      this.dialogTableVisible = true
      this.columns = Object.keys(this.selectedRow.value)
      console.log(this.selectedRow.value)
      // this.dataTableRow = Object.keys(this.selectedRow.value)
      //   .map(key => ({ property: key, value: this.selectedRow.value[key] }))
      // this.dataTableRow['0'].item = 0
      // console.log(this.dataTableRow)
      // this.$set(this.dataTableRow[0], 'item', '0')
    },
    openDialogObject(row) {
      this.selectedRow = row
      this.dialogTableVisible = true
      // this.columns = Object.keys(this.selectedRow.value)
      if (this.selectedRow.property === 'power_delivery_histogram') {
        this.columns = ['bins', 'power']
      } else {
        this.columns = ['bins', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
      }
      this.dataTableRow = []
      console.log(this.columns)
      this.selectedRow.value[this.columns[0]].forEach((key, index) => {
        this.dataTableRow.push({ })
        this.columns.forEach((key2, index2) => {
          if (key2 === 'bins') {
            this.dataTableRow[index][this.columns[index2]] = this.selectedRow.value[this.columns[index2]][index]
          } else {
            this.dataTableRow[index][this.columns[index2]] = this.selectedRow.value[this.columns[index2]][index].toFixed(3)
          }
          // this.dataTableRow[index][this.columns[index2]] = this.selectedRow.value[this.columns[index2]][index]
          console.log("prova",key2 )
          // console.log(this.dataTableRow)
        })
      })
    },
    openDialogString(row) {
      this.selectedRow = row
      this.dialogTableDeviceYearVisible = true
      this.columns = Object.keys(JSON.parse(this.selectedRow.value[Object.keys(this.selectedRow.value)[0]]))
      this.dataTableRow = []
      Object.keys(this.selectedRow.value).forEach(key => {
        this.dataTableRow.push(Object.assign({}, JSON.parse(this.selectedRow.value[key]), { device: key }))
        console.log(this.dataTableRow)
      })
    },
    openList(row, column) {
      console.log(row[column])
      // this.$refs.outputs_p.setCurrentRow(row)
      // this.selectedRow = row
      this.ListVisible = true
      this.ListColumn = Object.keys(row[column])
        .map(key => ({ value: row[column][key].toFixed(3), year: key }))
    },
    filterValue(value, row) {
      if (row.value === "Not Defined") {
        return value === true
      } else {
        return value === false
      }
    }
  }
}
</script>

<style scoped>
.chart-container{
  position:relative;
  width: 100%;
  height: calc(100vh - 84px);
}
</style>
