<!--
This is is the System Performance and Energy Yield (SPEY) for the DTOceanPlus suite of Tools.
Copyright (C) 2021 TECNALIA - Vincenzo Nava

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <h3>Select one of the Studies that have been run</h3>
    <el-table :data="tableData" style="width: 100%">
      <el-table-column
        prop="speyId"
        label="ID"
      />
      <el-table-column
        prop="title"
        label="Title"
      />
      <el-table-column
        prop="description"
        label="Description"
      />
    </el-table>

    <h3>Alternatively you can input your Data </h3>
    <el-row>
      <el-button
        type="success"
        size="mini"
        data-cy-spey="createProjectBtn"
        @click="dialogFormVisibleInputs = true"
      >
        Input User-Defined data
      </el-button>
    </el-row>
    <el-dialog
      title="Create a Spey study"
      :visible.sync="dialogFormVisibleInputs"
      width="auto"
    >
      <span>
        <el-upload
          class="upload-demo"
          style="margin-left: 35%"
          drag
          action="spey/upload"
          :show-file-list="true"
          :http-request="uploaderSPEY"
          :before-upload="beforeuploaderSPEY"
          data-cy-spey="uploadBox"
        >
          <i class="el-icon-upload" />
          <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
          <div slot="tip" class="el-upload__tip">json files with a size less than 2Mb</div>
          <div slot="tip" class="el-upload__tip"><a href="../files/test.png" download>Download File Template</a></div>
        </el-upload>
      </span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="onCancel">Cancel</el-button>
        <el-button type="success" data-cy-spey="submitButton" @click="onSubmit">Confirm</el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
import axios from 'axios'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/dtop/dtopConsts"

export default {
  props: [
    'queryString'
  ],
  data() {
    return {
      dialogFormVisibleInputs: false,
      chosenStageId: '',
      tableData: {},
      stages: [
        {
          'id': 0,
          'name': 'Stage 0'
        },
        {
          'id': 1,
          'name': 'Stage 1'
        },
        {
          'id': 2,
          'name': 'Stage 2'
        },
        {
          'id': 3,
          'name': 'Stage 3'
        },
        {
          'id': 4,
          'name': 'Stage 4'
        },
        {
          'id': 5,
          'name': 'Stage 5'
        }
      ],
      xAxisProps: {
        tickmode: 'array',
        tickvals: [0, 25, 50, 75, 100],
        range: [-5, 105],
        title: 'Percentage activities completed (%)'
      }
    }
  },
  computed: {
    activityCategoryData() {
      if (this.chosenStageId === '') {
        return []
      } else {
        return this.checklistComparisonData.bar_chart_data[this.chosenStageId].activity_categories
      }
    },
    evalAreaData() {
      if (this.chosenStageId === '') {
        return []
      } else {
        return this.checklistComparisonData.bar_chart_data[this.chosenStageId].evaluation_areas
      }
    },
    beforeuploaderSPEY(file) {
      const isJSON = file.type === 'application/json'
      const isLt2M = file.size / 1024 / 1024 < 2
      if (!isJSON) {
        this.$message.error('File must be JSON format!')
      }
      if (!isLt2M) {
        this.$message.error('File size can not exceed 2MB!')
      }
      return isJSON && isLt2M
    },
    async uploaderSPEY(p) {
      this.uploadJson = await this.onloadJson(p)
    },
    onloadJson(p) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.readAsText(p.file)
        reader.onload = (e) => {
          resolve(JSON.parse(e.target.result))
        }
      })
    },
    onSubmit() {
      this.dialogFormVisible = false
      const payload = this.uploadJson
      this.addStudy(payload)
      this.initForm()
    },
    addStudy(payload) {
      const path = `${DTOP_PROTOCOL}//spey.${DTOP_DOMAIN}/spey`
      axios.post(path, payload)
        .then(() => {
          this.getStudies()
          this.studyMessage('Study added', 'success')
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(error);
          this.getStudies()
          this.studyMessage(error.response.data.message, 'warning')
        })
    }
  },
  created() {
    this.getChecklistComparisonResults()
  },
  methods: {
    getChecklistComparisonResults() {
      const path = `${DTOP_PROTOCOL}//spey.${DTOP_DOMAIN}/${this.queryString}`
      console.log(path)
      axios.get(path)
        .then((res) => {
          this.tableData = res.data
        })
        .catch((error) => {
          // eslint-disable-next-line
          // console.error(error);
        })
    }
  }
}
</script>
