<!--
This is is the System Performance and Energy Yield (SPEY) for the DTOceanPlus suite of Tools.
Copyright (C) 2021 TECNALIA - Vincenzo Nava

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <el-row>
      <el-button
        icon="el-icon-download"
        data-cy-spey="saveFile"
        @click="saveToFile(table_data,filename)"
      >
        Save Data
      </el-button>
    </el-row>
    <br>
    <el-table
      ref="outputs_pq"
      v-loading="listLoading"
      :data="table_data"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
      style="width:100%"
    >
      <el-table-column
        prop="label"
        label="Parameter"
        sortable
        min-width="30"
      >
        <template slot-scope="scope">
          <!-- <el-popover
            ref="fromPopOver1"
            placement="top-start"
            width="250"
            trigger="hover">
            {{ scope.row.description }}
          </el-popover> -->
          {{ scope.row.label }}
          <!-- <span
            v-popover:fromPopOver1
            class="el-icon-info"/>S -->

          <el-tooltip effect="dark" :content="scope.row.description" placement="top-start">
            <i class="el-icon-info" />
          </el-tooltip>
          <!-- <el-popover trigger="hover" placement="top">
            <p>{{ scope.row.description }}</p>
            <div slot="reference" class="name-wrapper">
              <p>{{ scope.row.label }}</p>
            </div>
          </el-popover> -->
        </template>
      </el-table-column>
      <el-table-column
        prop="unit"
        label="Units"
        min-width="20"
      />
      <el-table-column
        prop="value"
        label="Value"
        sortable
        :filters="[{ text: 'Calculated', value: false }, { text: 'Not Calculated', value: true }]"
        :filter-method="filterValue"
        :filtered-value="[false]"
        filter-placement="bottom-end"
        min-width="30"
      >
        <template slot-scope="scope">
          <span v-if="typeObj(scope.row.value)==='number'">
            <p>{{ scope.row.value.toFixed(3) }}</p>
          </span>
          <span v-if="typeObj(scope.row.value)==='string'">
            <p>{{ scope.row.value }}</p>
          </span>
          <template v-else-if="typeObj(scope.row.value)==='array'">
            <el-button type="text" @click="openDialog(scope.row)">[...]</el-button>
          </template>
          <template v-else-if="typeObj(scope.row.value)==='object_array'">
            <el-button type="text" @click="openDialogArray(scope.row)">[...]</el-button>
          </template>
          <template v-else-if="typeObj(scope.row.value)==='object_object'">
            <el-button type="text" @click="openDialogObject(scope.row)">[...]</el-button>
          </template>
        </template>
      </el-table-column>
      <el-table-column
        prop="Aggregation_Level"
        label="Level of Aggregation"
        sortable
        :filters="[{ text: 'Array', value: 'array' }, { text: 'Device', value: 'device' }]"
        :filter-method="filterAggregation"
        filter-placement="bottom-end"
        min-width="20"
      />
      <el-table-column
        label="View"
        min-width="30"
      >
        <template slot-scope="scope">
          <template v-if="typeObj(scope.row.value)==='object_object'">
            <el-button type="text" @click="openDialogDiagram(scope.row)">View</el-button>
          </template>
          <template v-else-if="typeObj(scope.row.value)==='object_array'">
            <el-button type="text" @click="openDialogDiagramArray(scope.row)">View</el-button>
          </template>
          <template v-else>
            Not Available
          </template>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog v-if="selectedRow" :title="selectedRow.label" :visible.sync="dialogTableVisible">
      <el-table
        :data="dataTableRow"
        style="width: 100%"
      >
        <el-table-column
          type="index"
          label="Element #"
        />
        <el-table-column label="Sea States">
          <el-table-column
            v-for="column in columns"
            :key="column.label"
            :prop="column"
            :label="column"
          />
        </el-table-column>
      </el-table>
    </el-dialog>
    <p />
    <el-dialog v-if="selectedRow" :title="selectedRow.label" :visible.sync="dialogDiagramVisible">
      <bar-chart-object :bar_chart_data="arrayPlot"></bar-chart-object>
    </el-dialog>
    <el-dialog v-if="selectedRow" :title="selectedRow.label" :visible.sync="dialogDiagramArrayVisible">
      <bar-chart :bar_chart_data="arrayPlotArray"></bar-chart>
    </el-dialog>
  </div>
</template>
<script>

import BarChartObject from '@/components/BarChartObject'
import BarChart from '@/components/BarChart'


export default {
  props: [
    'table_data'
  ],
  components: {
    BarChartObject,
    BarChart
  },
  filters: {
    // rounding (value) {
    //   return value.tofixed (2)
    // },
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  data() {
    return {
      radio: 1,
      dialogTableVisible: false,
      columns: null,
      selectedRow: null,
      dataTableRow: null,
      list: null,
      listLoading: true,
      value_1: '',
      tableData: {
        'Inputs_PQ': {
          'transformed_active_power': '',
          'transformed_reactive_power': '',
          'delivered_active_power': '',
          'delivered_reactive_power': ''
        },
        'Outputs_PQ': {
          'device_transformed_phase': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_transformed_phase': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_delivered_phase': {
            'value': '',
            'Aggregation-Level': ''
          }
        }
      },
      filename: 'outputs_power_quality.json',
      speyId: this.$store.getters.speyId,
      listOfObjects: null,
      value_2: '',
      dialogDiagramVisible: false,
      arrayPlot: {},
      dialogDiagramArrayVisible: false,
      arrayPlotArray: {},
    }
  },
  created() {
    this.fetchData()
    // this.getPowerQuality(this.speyId)
  },
  methods: {
    fetchData() {
      this.listLoading = false
    },
    saveToFile(jsonData, filename) {
      const jsonDataString = JSON.stringify(jsonData)
      const blob = new Blob([jsonDataString], { type: 'text/plain;charset=utf-8;' })
      if (navigator.msSaveBlob) { // IE 10+
        navigator.msSaveBlob(blob, filename)
      } else {
        const link = document.createElement('a')
        if (link.download !== undefined) { // feature detection
          // Browsers that support HTML5 download attribute
          const url = URL.createObjectURL(blob)
          link.setAttribute('href', url)
          link.setAttribute('download', filename)
          link.style.visibility = 'hidden'
          document.body.appendChild(link)
          link.click()
          document.body.removeChild(link)
        }
      }
    },
    // getPowerQuality(speyId) {
    //   const path = `${DTOP_PROTOCOL}//spey.${DTOP_DOMAIN}/spey/${speyId}/power-quality`
    //   axios.get(path)
    //     .then((res) => {
    //       this.tableData = res.data
    //       this.listOfObjects = Object.keys(this.tableData.Outputs_PQ)
    //         .map(key => ({ property: key, value: JSON.parse(this.tableData['Outputs_PQ'][key]['value']), Aggregation_Level: this.tableData.Outputs_PQ[key]['Aggregation-Level'], unit: this.tableData.Outputs_PQ[key]['Unit'], description: this.tableData.Outputs_PQ[key]['Description'], label: this.tableData.Outputs_PQ[key]['Label'] }))
    //     })
    //     .catch((error) => {
    //       // eslint-disable-next-line
    //       console.error(error);
    //     })
    // },
    filterAggregation(value, row) {
      return row.Aggregation_Level === value
    },
    open(row) {
      this.$alert(row.description, row.label, {
        confirmButtonText: 'OK'
      })
    },
    typeObj(obj) {
      if (typeof obj === 'number') {
        return 'number'
      } else if (typeof obj === 'string') {
        return 'string'
      } else if (typeof obj === 'object') {
        if (Array.isArray(obj)) {
          return 'array'
        } else if (typeof obj[Object.keys(obj)[0]] === 'object') {
          return 'object_object'
        } else {
          return 'object_array'
        }
      }
    },
    openDialog(row) {
      this.$refs.outputs_p.setCurrentRow(row)
      this.selectedRow = row
      this.dialogTableVisible = true
      this.dataTableRow = Object.keys(this.selectedRow.value)
        .map(key => ({ value: this.selectedRow.value[key].toFixed(3), label: this.selectedRow.label }))
    },
    openDialogArray(row) {
      this.selectedRow = row
      console.log("row", row.value["0"] )

      this.dialogTableVisible = true
      this.columns = Object.keys(this.selectedRow.value)
      this.dataTableRow = []
      this.dataTableRow = [this.selectedRow.value]
      console.log('aaa', this.selectedRow.value)
      Object.keys(row.value).forEach((key,index) => {
        console.log("value",this.selectedRow.value)
        if (typeof this.selectedRow.value[key] === "number") {
          this.selectedRow.value[key] = this.selectedRow.value[key].toFixed(3)

        }
        // this.dataTableRow[0][key] = this.dataTableRow[0][key].toFixed(3)


      })
      // this.dataTableRow['0'].item = 0
      this.dataTableRow = [this.selectedRow.value]
      console.log(this.dataTableRow)
      // this.$set(this.dataTableRow[0], 'item', '0')
    },
    openDialogObject(row) {
      this.dialogTableVisible = true
      this.selectedRow = row
      console.log(this.selectedRow.value)
      this.columns = Object.keys(this.selectedRow.value[0])
      this.dataTableRow = []
      Object.keys(this.selectedRow.value).forEach((key, index) => {
        Object.keys(this.selectedRow.value[key]).forEach((key2, index) => {
          if (typeof this.selectedRow.value[key][key2]=== "number") {
            this.selectedRow.value[key][key2]=this.selectedRow.value[key][key2].toFixed(3)
          }
        })
        this.dataTableRow.push(this.selectedRow.value[key])
        // this.dataTableRow[key].item = key
      })
      console.log(this.dataTableRow)
    },
    openDialogDiagram(row) {
      this.selectedRow = row
      this.dialogDiagramVisible = true
      this.arrayPlot={}
      this.arrayPlot.y = {}
      let cont = 0
      Object.keys(this.selectedRow.value).forEach((key, index) => {
        this.arrayPlot.y["Device "+ cont] = this.selectedRow.value[key]
        cont = cont +1
        // this.dataTableRow[key].item = key
      })
      // this.arrayPlot.y = this.selectedRow.value
      console.log(this.arrayPlot.y)
      // this.arrayPlot.y = [1,2]
      this.arrayPlot.title = this.selectedRow.label
      this.arrayPlot.unit = this.selectedRow.unit
      this.arrayPlot.labely = this.selectedRow.label+" ["+ this.selectedRow.unit +"]"
      this.arrayPlot.labelx = "Sea Condition"
      // console.log(this.arrayPlot)
    },
    openDialogDiagramArray(row) {
      this.selectedRow = row
      this.dialogDiagramArrayVisible = true
      this.arrayPlotArray={}
      this.arrayPlotArray.y = Object.values(this.selectedRow.value)
      // console.log(this.arrayPlot.y)
      // this.arrayPlot.y = [1,2]
      this.arrayPlotArray.title = this.selectedRow.label
      this.arrayPlotArray.unit = this.selectedRow.unit
      this.arrayPlotArray.labely = this.selectedRow.label+" ["+ this.selectedRow.unit +"]"
      this.arrayPlot.labelx = "Sea Condition"
      console.log(this.arrayPlotArray)
    },
    filterValue(value, row) {
      if (row.value === "Not Calculated") {
        return value === true
      } else {
        return value === false
      }
    },
  }
}
</script>

<style scoped>
.chart-container{
  position:relative;
  width: 100%;
  height: calc(100vh - 84px);
}
</style>
