<!--
This is is the System Performance and Energy Yield (SPEY) for the DTOceanPlus suite of Tools.
Copyright (C) 2021 TECNALIA - Vincenzo Nava

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="dashboard-container">
    <div class="dashboard-text">
      <h1>Welcome to the System Performance and Energy Yield (SPEY) Module  !</h1>
      <router-link to="/spey"><img width="300px" src="@/assets/modules_images/SPEY.png"></router-link>
      <br>
      <br>
      <img center width="300px" src="@/assets/logos/dtoceanplus_logo.png" alt="Center image">
      <br>
      <footer><h6>This is an initial Graphic User Interface, for any error or problem of usability please contact  <address><a href="mailto:vincenzo.nava@tecnalia.com">Tecnalia (Vincenzo Nava)</a>. </address></h6></footer>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Dashboard',
  computed: {
    ...mapGetters([
      'name'
    ])
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
    text-align: center
  }
}
</style>
