<!--
This is is the System Performance and Energy Yield (SPEY) for the DTOceanPlus suite of Tools.
Copyright (C) 2021 TECNALIA - Vincenzo Nava

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div>
    <Plotly :data="data" :layout="layout"></Plotly>
  </div>
</template>


<script>
import { Plotly } from 'vue-plotly'

export default {
  props: [
    'bar_chart_data'
  ],
  components: {
    Plotly
  },
  data() {
    return {
      x: 0,
      y: 0,
      layouts: {
        margin: {
          l: 100,
          r: 100,
          b: 100,
          t: 100,
          pad: 20
        },
        xaxis: {
          tickmode: 'array',
          // tickvals: [0, 1, 2, 3, 4],
          // ticktext: ['Unacceptable', 'Poor', 'Acceptable', 'Good', 'Excellent'],
          // range: [-0.2, 4.2],
        },
        yaxis:{}
        // title: ''
        }
    }
  },
  computed: {
    data() {
      let d = [{
        type: 'bar',
        x: this.bar_chart_data['x'],
        y: this.bar_chart_data['y'],
        orientation: 'v'
      }]
      return d
    },
    layout() {
      let t = {
        margin: this.layouts.margin,
        xaxis: this.layouts.xaxis,
        title: this.bar_chart_data['title'],
        yaxis: {'title' : this.bar_chart_data['labely']},
        xaxis: {'title' : this.bar_chart_data['labelx']},
        font : {family: "Rajdhani"}
      }
      return t
    }
  }
}
</script>
