<!--
This is is the System Performance and Energy Yield (SPEY) for the DTOceanPlus suite of Tools.
Copyright (C) 2021 TECNALIA - Vincenzo Nava

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <el-tabs v-model="activeTab" v-loading="loading" @tab-click="handleClick" type="border-card">
      <el-tab-pane label="Efficiency" name="efficiency">
        <el-tabs v-model="activeSubTabEff" tab-position="left"  @tab-click="handleClick">
          <el-tab-pane label="Outputs" name="eff_outputs">
            <outputs :table_data="listOfObjectsOutputsEff" file_name="outputs_efficiency.json" />
          </el-tab-pane>
          <el-tab-pane label="Inputs" name="eff_inputs">
            <inputs :table_data="listOfObjectsInputsEff" file_name="inputs_efficiency.json" />
          </el-tab-pane>
        </el-tabs>
      </el-tab-pane>
      <el-tab-pane label="Alternative Metrics" name="alternative_metrics">
        <el-tabs v-model="activeSubTabAm" tab-position="left"  @tab-click="handleClick">
          <el-tab-pane label="Outputs" name="am_outputs">
            <outputs :table_data="listOfObjectsOutputsAm" file_name="outputs_alternative_metrics.json" />
          </el-tab-pane>
          <el-tab-pane label="Inputs" name="am_inputs">
            <inputs :table_data="listOfObjectsInputsAm" file_name="inputs_alternative_metrics.json" />
          </el-tab-pane>
        </el-tabs>
      </el-tab-pane>
      <el-tab-pane label="Energy Production" name="energy_production">
        <el-tabs v-model="activeSubTabEp" tab-position="left" @tab-click="handleClick">
          <el-tab-pane label="Outputs" name="ep_outputs">
            <outputs-ep :table_data="listOfObjectsOutputsEp" />
          </el-tab-pane>
          <el-tab-pane label="Inputs" name="ep_inputs">
            <inputs-ep :table_data="listOfObjectsInputsEp" />
          </el-tab-pane>
        </el-tabs>
      </el-tab-pane>
      <el-tab-pane label="Power Quality" name="power_quality">
        <el-tabs v-model="activeSubTabPq" tab-position="left" @tab-click="handleClick">
          <el-tab-pane label="Outputs" name="pq_outputs">
            <outputs-pq :table_data="listOfObjectsOutputsPq" />
          </el-tab-pane>
          <el-tab-pane label="Inputs" name="pq_inputs">
            <inputs-pq :table_data="listOfObjectsInputsPq" />
          </el-tab-pane>
        </el-tabs>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>
<script>

import Inputs from '@/components/Inputs'
import Outputs from '@/components/Outputs'
import OutputsPq from '@/components/OutputsPq'
import InputsPq from '@/components/InputsPq'
import InputsEp from '@/components/InputsEp'
import OutputsEp from '@/components/OutputsEp'
import axios from 'axios'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/dtop/dtopConsts"

export default {
  filters: {

    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  components: { OutputsPq, InputsPq, Inputs, Outputs, InputsEp, OutputsEp},
  data() {
    return {
      activeTab: 'efficiency',
      activeSubTabEff: 'eff_outputs',
      activeSubTabAm: 'am_outputs',
      activeSubTabPq: 'pq_outputs',
      activeSubTabEp: 'ep_outputs',
      tableData:[],
      listOfObjectsInputsEff: [{value: ''}],
      listOfObjectsInputsPq: [],
      listOfObjectsOutputsPq: [],
      listOfObjectsInputsAm : [{value: ''}],
      listOfObjectsOutputsAm : [{value: ''}],
      listOfObjectsOutputsEff : [{value: ''}],
      listOfObjectsInputsEp : [],
      listOfObjectsOutputsEp : [],
      speyId: this.$store.getters.speyId,
      status: this.$store.getters.status,
      loading: true


    }
  },
  created() {
    this.loadTables(this.speyId, this.status)
    // this.getEfficiencyInputs(this.speyId, this.status)
    // this.getEfficiencyOutputs(this.speyId, this.status)
    // this.getAlternativeMetricsInputs(this.speyId, this.status)
    // this.getAlternativeMetricsOutputs(this.speyId, this.status)
    // this.getPowerQualityInputs(this.speyId, this.status)
    // this.getPowerQualityOutputs(this.speyId, this.status)
    // this.getEnergyProductionInputs(this.speyId, this.status)
    // this.getEnergyProductionOutputs(this.speyId, this.status)
    // this.loading=false

  },
  methods: {
    handleClick(tab, event) {
        console.log(tab, event);
    },
    loadTables(speyId, status) {
      this.getEfficiencyInputs(speyId, status)
      this.getEfficiencyOutputs(speyId, status)
      this.getAlternativeMetricsInputs(speyId, status)
      this.getAlternativeMetricsOutputs(speyId, status)
      this.getPowerQualityInputs(speyId, status)
      this.getPowerQualityOutputs(speyId, status)
      this.getEnergyProductionInputs(speyId, status)
      this.getEnergyProductionOutputs(speyId, status)


    },
    getEfficiencyInputs(speyId, status) {
      if (speyId == '') {
        this.$message.error('Invalid Study, redirecting to the Study List. Select one study first');
        this.$router.push({ name: "SPEY Studies" });
      } if (status != 100) {
        console.log(status)
        this.$message.error('The Study has not run yet, please complete it first');
        this.$router.push({ name: "SpeyInputs" });
      }else {
        this.loading= true
        const path = `${DTOP_PROTOCOL}//spey.${DTOP_DOMAIN}/spey/${speyId}/efficiency`
        axios.get(path)
          .then((res) => {
            this.loading= false
            this.tableData = res.data
            this.listOfObjectsInputsEff = Object.keys(this.tableData.Inputs_EFF)
              .map(key => ({ property: key, value: this.tableData.Inputs_EFF[key].value, unit: this.tableData.Inputs_EFF[key]['Unit'], description: this.tableData.Inputs_EFF[key]['Description'], label: this.tableData.Inputs_EFF[key]['Label'] }))
            this.listOfObjectsInputsEff.forEach( function (obj) {
              if (obj.value==null){
                obj.value="Not Defined"
              }
            })
          })
          .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
          })
      }
    },
    getEfficiencyOutputs(speyId, status) {
      if (status == 100){
        this.loading= true
        const path = `${DTOP_PROTOCOL}//spey.${DTOP_DOMAIN}/spey/${speyId}/efficiency`
      axios.get(path)
        .then((res) => {
          this.loading = false
          this.tableData = res.data
          this.listOfObjectsOutputsEff = Object.keys(this.tableData.Outputs_EFF)
            .map(key => ({ property: key, value: this.tableData.Outputs_EFF[key].value, Aggregation_Level: this.tableData.Outputs_EFF[key]['Aggregation-Level'], label: this.tableData.Outputs_EFF[key]['Label'], unit: this.tableData.Outputs_EFF[key]['Unit'], description: this.tableData.Outputs_EFF[key]['Description'] }))
          this.listOfObjectsOutputsEff.forEach( function (obj) {
              if (obj.value==null){
                obj.value="Not Calculated"
              }
            })
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })}
    },
    getPowerQualityInputs(speyId, status) {
      if (status == 100){
        this.loading= true
      const path = `${DTOP_PROTOCOL}//spey.${DTOP_DOMAIN}/spey/${speyId}/power-quality`
      axios.get(path)
        .then((res) => {
          this.loading= false
          this.tableData = res.data
          this.listOfObjectsInputsPq = Object.keys(this.tableData.Inputs_PQ)
            .map(key => ({ property: key, value: JSON.parse(this.tableData.Inputs_PQ[key].value), unit: this.tableData.Inputs_PQ[key]['Unit'], description: this.tableData.Inputs_PQ[key]['Description'], label: this.tableData.Inputs_PQ[key]['Label'] }))
          this.listOfObjectsInputsPq.forEach( function (obj) {
            if (obj.value==null){
              obj.value="Not Defined"
            }
          })
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })}
    },
    getPowerQualityOutputs(speyId, status) {
      if (status == 100){
        this.loading= true
      const path = `${DTOP_PROTOCOL}//spey.${DTOP_DOMAIN}/spey/${speyId}/power-quality`
      axios.get(path)
        .then((res) => {
          this.loading= false
          this.tableData = res.data
          this.listOfObjectsOutputsPq= Object.keys(this.tableData.Outputs_PQ)
            .map(key => ({ property: key, value: JSON.parse(this.tableData['Outputs_PQ'][key]['value']), Aggregation_Level: this.tableData.Outputs_PQ[key]['Aggregation-Level'], unit: this.tableData.Outputs_PQ[key]['Unit'], description: this.tableData.Outputs_PQ[key]['Description'], label: this.tableData.Outputs_PQ[key]['Label'] }))
          this.listOfObjectsOutputsPq.forEach( function (obj) {
            if (obj.value==null || obj.value== 'None'){
              obj.value="Not Calculated"
            }
          })
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })}
    },
    getAlternativeMetricsInputs(speyId, status) {
      if (status == 100){
        this.loading= true
      const path = `${DTOP_PROTOCOL}//spey.${DTOP_DOMAIN}/spey/${speyId}/alternative-metrics`
      axios.get(path)
        .then((res) => {
          this.loading= false
          this.tableData = res.data
          this.listOfObjectsInputsAm = Object.keys(this.tableData.Inputs_AM)
            .map(key => ({ property: key, value: this.tableData.Inputs_AM[key].value, unit: this.tableData.Inputs_AM[key]['Unit'], description: this.tableData.Inputs_AM[key]['Description'], label: this.tableData.Inputs_AM[key]['Label'] }))
          this.listOfObjectsInputsAm.forEach( function (obj) {
              if (obj.value==null){
                obj.value="Not Defined"
              }
            })
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })}
    },
    getAlternativeMetricsOutputs(speyId, status) {
      if (status == 100){
        this.loading= true
      const path = `${DTOP_PROTOCOL}//spey.${DTOP_DOMAIN}/spey/${speyId}/alternative-metrics`
      axios.get(path)
        .then((res) => {
          this.loading= false
          this.tableData = res.data
          this.listOfObjectsOutputsAm = Object.keys(this.tableData.Outputs_AM)
            .map(key => ({ property: key, value: this.tableData.Outputs_AM[key].value, Aggregation_Level: this.tableData.Outputs_AM[key]['Aggregation-Level'], label: this.tableData.Outputs_AM[key]['Label'], unit: this.tableData.Outputs_AM[key]['Unit'], description: this.tableData.Outputs_AM[key]['Description'] }))
          this.listOfObjectsOutputsAm.forEach( function (obj) {
              if (obj.value==null){
                obj.value="Not Calculated"
              }
            })
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })}
    },
    getEnergyProductionInputs(speyId, status) {
      if (status == 100){
        this.loading= true
      const path = `${DTOP_PROTOCOL}//spey.${DTOP_DOMAIN}/spey/${speyId}/energy-production`
      axios.get(path)
        .then((res) => {
          this.loading= false
          this.tableData = res.data
          this.listOfObjectsInputsEp = Object.keys(this.tableData.Inputs_EP)
            .map(key => ({ property: key, value: this.tableData.Inputs_EP[key].value, units: this.tableData.Inputs_EP[key]['Unit'], description: this.tableData.Inputs_EP[key]['Description'], label: this.tableData.Inputs_EP[key]['Label'] }))
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })}
    },
    getEnergyProductionOutputs(speyId, status) {
      if (status == 100){
        this.loading= true
      const path = `${DTOP_PROTOCOL}//spey.${DTOP_DOMAIN}/spey/${speyId}/energy-production`
      axios.get(path)
        .then((res) => {
          this.loading= false
          this.tableData = res.data
          this.listOfObjectsOutputsEp = Object.keys(this.tableData.Outputs_EP)
            .map(key => ({ property: key, value: this.tableData.Outputs_EP[key].value, Aggregation_Level: this.tableData.Outputs_EP[key]['Aggregation-Level'], unit: this.tableData.Outputs_EP[key]['Unit'], description: this.tableData.Outputs_EP[key]['Description'], label: this.tableData.Outputs_EP[key]['Label'] }))
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        })}
    },

  }
}
</script>

<style scoped>
.chart-container{
  font-family: "Rajdhani", sans-serif !important;
  position:relative;
  width: 100%;
  height: calc(100vh - 84px);
}
</style>
