<!--
This is is the System Performance and Energy Yield (SPEY) for the DTOceanPlus suite of Tools.
Copyright (C) 2021 TECNALIA - Vincenzo Nava

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <el-upload
    class="upload-demo"
    style="margin-left: 35%"
    drag
    action="spey/upload"
    :show-file-list="true"
    :http-request="uploaderSPEY"
    :before-upload="beforeuploaderSPEY"
    data-cy-spey="uploadBox"
  >
    <i class="el-icon-upload" />
    <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
    <div slot="tip" class="el-upload__tip">XLSX files</div>
    <div slot="tip" class="el-upload__tip"><a href="NEW.xlsx" download>Download File Template</a></div>
  </el-upload>
</template>

<script>
import XLSX from 'xlsx'
export default {
  props: [
  ],
  data() {
    return {
      dataName: null
    }
  },
  methods: {
    beforeuploaderSPEY(file) {
      const isXSLX= file.type === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
      const isLt2M = file.size / 1024 / 1024 < 2
      if (!isXSLX) {
        this.$message.error('File must be XSLX format!')
      }
      if (!isLt2M) {
        this.$message.error('File size can not exceed 2MB!')
      }
      return isXSLX && isLt2M
    },
    async uploaderSPEY(p) {
      this.dataName = await this.onloadXlsx(p)
      this.$emit('uploadedFile', this.dataName)
    },
    onloadXlsx(p) {
      return new Promise((resolve, reject) => {
        // const file = e.target.files[0]
        /* Boilerplate to set up FileReader */
        const reader = new FileReader()
        reader.onload = (e) => {
          /* Parse data */
          const bstr = e.target.result
          const wb = XLSX.read(bstr, { type: 'binary' })
          /* Get first worksheet */
          const wsname = wb.SheetNames[0]
          const ws = wb.Sheets[wsname]
          /* Convert array of arrays */
          const data = XLSX.utils.sheet_to_json(ws)
          /* Update state */
          // const header = data.shift()
          resolve(data)
        }
        reader.readAsBinaryString(p.file)
      })
    },
    uploadedFile() {
      this.$emit('uploadedFile', this.dataName)
      console.log(this.dataName)
    }
  }
}
</script>
