<!--
This is is the System Performance and Energy Yield (SPEY) for the DTOceanPlus suite of Tools.
Copyright (C) 2021 TECNALIA - Vincenzo Nava

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <el-container style="height: 500vh; border: 1px solid #eee">
    <el-header style="text-align: right; font-size: 12px">
      <el-dropdown>
        <i class="el-icon-setting" style="margin-right: 15px" />
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>View</el-dropdown-item>
          <el-dropdown-item>Add</el-dropdown-item>
          <el-dropdown-item>Delete</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
      <span>Tom</span>
    </el-header>
    <el-container>
      <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
        <el-menu :default-openeds="['0', '1']">
          <el-submenu index="0">
            <template slot="title"><i class="el-icon-s-opportunity" />Projects</template>
            <!-- <el-menu-item index="1-1"><i class="el-icon-magic-stick"></i>Inputs</el-menu-item>
            <el-menu-item index="1-2"><i class="el-icon-data-line"></i>Ouputs</el-menu-item> -->
          </el-submenu>
          <el-submenu index="1">
            <template slot="title"><i class="el-icon-s-data" disabled="true" />Efficiency</template>
            <el-menu-item index="1-1"><i class="el-icon-magic-stick" />Inputs</el-menu-item>
            <el-menu-item index="1-2"><i class="el-icon-data-line" />Ouputs</el-menu-item>
          </el-submenu>
          <el-submenu index="2">
            <template slot="title"><i class="el-icon-s-marketing" />Energy Production</template>
            <el-menu-item index="2-1"><i class="el-icon-magic-stick" />Inputs</el-menu-item>
            <el-menu-item index="2-2"><i class="el-icon-data-line" />Ouputs</el-menu-item>
          </el-submenu>
          <el-submenu index="3">
            <template slot="title"><i class="el-icon-odometer" />Alternative Metrics</template>
            <el-menu-item index="3-1"><i class="el-icon-magic-stick" />Inputs</el-menu-item>
            <el-menu-item index="3-2"><i class="el-icon-data-line" />Ouputs</el-menu-item>
          </el-submenu>
          <el-submenu index="4">
            <template slot="title"><i class="el-icon-top-right" />Power Quality</template>
            <el-menu-item index="4-1"><i class="el-icon-magic-stick" />Inputs</el-menu-item>
            <el-menu-item index="4-2"><i class="el-icon-data-line" />Ouputs</el-menu-item>
          </el-submenu>
        </el-menu>
      </el-aside>

      <el-main>
        <div>
          <h1>DTOceanPlus - System Performance and Energy Yield Module</h1>
          <h2>Projects</h2>
          <hr>
          <p>{{ mensaje }}</p>
        </div>
        <hr>
        <hr>
        <app-alarms />
      </el-main>
    </el-container>
  </el-container>
</template>

<style>
  .el-header {
    background-color: #B3C0D1;
    color: #333;
    line-height: 60px;
  }

  .el-aside {
    color: #333;
  }
</style>

<script>
import axios from 'axios'
import Alarms from './Alarms'

export default {
  name: 'Main',
  components: {
    appAlarms: Alarms
  },
  data() {
    const item = {
      date: '2016-05-02',
      name: 'Tom',
      address: 'No. 189, Grove St, Los Angeles'
    }
    return {
      mensaje: 'Sin mensaje!',
      tableData: Array(20).fill(item)
    }
  },
  created() {
    this.getMensaje()
  },
  methods: {
    getMensaje() {
      const path = 'http://127.0.0.1:5000/assessment/projects'
      axios.get(path).then((respuesta) => {
        this.mensaje = respuesta.data
      })
        .catch((error) => {
          console.log(error)
        })
    }
  }
}
</script>
