:root {
	--color-dark-blue: #022c5f;
	--color-grey: #e2ebf0;
	--color-blue: #39d2ff;
}

body {
	background-color: var(--color-grey);
}
h1 {
	font-family: "Rajdhani", sans-serif;
	font-weight: bold;
	font-size: 38px;
	color: var(--color-dark-blue);
	margin-top: 15px;
	margin-bottom: 20px;
}
.projectSingle-tabs {
	margin-top: 25px;
  .el-tabs__item {
    font-family: "Rajdhani", sans-serif !important;
    font-weight: bold !important;
    font-size: 32px !important;
    color: var(--color-dark-blue) !important;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 60px;
  }
  .is-disabled{
	  opacity: 0.3;
	  cursor: not-allowed;
  }
}
h2 {
	font-family: "Rajdhani", sans-serif;
	font-weight: bold;
	font-size: 32px;
	color: var(--color-dark-blue);
	margin-top: 15px;
	margin-bottom: 20px;
}

h3 {
	font-family: "Rajdhani", sans-serif;
	font-weight: bold;
	font-size: 24px;
	color: var(--color-dark-blue);
	margin-top: 15px;
	margin-bottom: 20px;
}

p {
	font-size: 16px;
	color: #000;
	margin-top: 10px;
	margin-bottom: 10px;
}

a {
	font-size: 16px;
}

.app__main {
	flex: 1 !important;
	max-width: 1920px;
	margin: 0 auto;
	width: 100%;
	padding-top: 30px;
}

.page-wrapper {
	padding: 20px;
}

.section-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.el-drawer,.el-drawer *{
	outline: none !important;
  }
