<!--
This is is the System Performance and Energy Yield (SPEY) for the DTOceanPlus suite of Tools.
Copyright (C) 2021 TECNALIA - Vincenzo Nava

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <el-row>
      <el-button
        icon="el-icon-download"
        data-cy-spey="saveFile"
        @click="saveToFile(table_data,filename)"
      >
        Save Data
      </el-button>
    </el-row>
    <br>
    <el-table
      ref="outputs_ep"
      v-loading="listLoading"
      :data="table_data"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
      style="width:100%"
    >
      <el-table-column
        prop="label"
        label="Parameter"
        sortable
        min-width="30"
      >
        <template slot-scope="scope">
          <!-- <el-popover
            ref="fromPopOver1"
            placement="top-start"
            width="250"
            trigger="hover">
            {{ scope.row.description }}
          </el-popover> -->
          {{ scope.row.label }}
          <!-- <span
            v-popover:fromPopOver1
            class="el-icon-info"/>S -->

          <el-tooltip effect="dark" :content="scope.row.description" placement="top-start">
            <i class="el-icon-info" />
          </el-tooltip>
          <!-- <el-popover trigger="hover" placement="top">
            <p>{{ scope.row.description }}</p>
            <div slot="reference" class="name-wrapper">
              <p>{{ scope.row.label }}</p>
            </div>
          </el-popover> -->
        </template>
      </el-table-column>
      <el-table-column
        prop="unit"
        label="Units"
        min-width="20"
      />
      <el-table-column
        prop="value"
        label="Value"
        sortable
        :filters="[{ text: 'Calculated', value: false }, { text: 'Not Calculated', value: true }]"
        :filter-method="filterValue"
        :filtered-value="[false]"
        filter-placement="bottom-end"
        min-width="30"
      >
        <template slot-scope="scope3">
          <span v-if="typeObj(scope3.row.value)==='string'">
            <el-button type="text" @click="openDialogString(scope3.row)">[...]</el-button>
          </span>
          <span v-else-if="typeObj(scope3.row.value)==='number'">
            <p>{{ scope3.row.value.toFixed(3) }}</p>
          </span>
          <template v-else-if="typeObj(scope3.row.value)==='array'">
            <el-button type="text" @click="openDialog(scope3.row)">[...]</el-button>
          </template>
          <template v-else-if="typeObj(scope3.row.value)==='object_array'">
            <el-button type="text" @click="openDialogArray(scope3.row)">[...]</el-button>
          </template>
          <template v-else-if="typeObj(scope3.row.value)==='object_object'">
            <el-button type="text" @click="openDialogObject(scope3.row)">[...]</el-button>
          </template>
        </template>
      </el-table-column>
      <el-table-column
        prop="Aggregation_Level"
        label="Level of Aggregation"
        sortable
        :filters="[{ text: 'Array', value: 'array' }, { text: 'Device', value: 'device' }]"
        :filter-method="filterAggregation"
        filter-placement="bottom-end"
        min-width="20"
      />
    </el-table>
    <el-dialog v-if="selectedRow" :title="selectedRow.label" width="95%" :visible.sync="dialogTableVisible">
      <el-table
        :data="dataTableRow"
        style="width: 100%"
      >
        <el-table-column
          type="index"
          label="Element #"
        />
        <el-table-column label="Sea States">
          <el-table-column
            v-for="column in columns"
            :key="column"
            :prop="column"
            :label="column"
          />
        </el-table-column>
      </el-table>
    </el-dialog>
    <el-dialog v-if="selectedRow" :title="selectedRow.label" width="60%" :visible.sync="dialogTableDeviceVisible">
      <el-table
        :data="dataTableRow"
        style="width: 100%"
      >
        <el-table-column
          prop="label"
          label="Device"
        />
        <el-table-column
          prop="property"
          label="Value"
        />
      </el-table>
    </el-dialog>
    <el-dialog v-if="selectedRow" :title="selectedRow.label" width="60%" :visible.sync="dialogTableStringVisible">
      <el-table
        :data="tableRowString"
        style="width: 100%"
      >
        <el-table-column
          prop="property"
          label="Year"
        />
        <el-table-column
          prop="value"
          label="Value"
        />
      </el-table>
    </el-dialog>
    <el-dialog v-if="selectedRow" :title="selectedRow.label" width="95%" :visible.sync="dialogTableStringObjVisible">
      <el-table
        :data="tableRowStringObj"
        style="width: 150%"
      >
        <el-table-column
          prop="year"
          label="Year"
          :min-width="10"
        />
        <el-table-column label="Months">
          <el-table-column
            v-for="column in columns"
            :key="column"
            :prop="column"
            :label="column"
            :min-width="10"
          />
        </el-table-column>
      </el-table>
    </el-dialog>
    <el-dialog v-if="selectedRow" :title="selectedRow.label" width="95%" :visible.sync="dialogTableDeviceAnnualVisible">
      <el-table
        :data="dataTableRow"
        style="width: 150%"
      >
        <el-table-column
          prop="device"
          label="Device"
          :min-width="10"
        />
        <el-table-column label="Years">
          <el-table-column
            v-for="column in columns"
            :key="column"
            :prop="column"
            :label="column"
            :min-width="10"
          />
        </el-table-column>
      </el-table>
    </el-dialog>
    <el-dialog v-if="selectedRow" :title="selectedRow.label"  width="95%" :visible.sync="dialogTableDeviceYearVisible">
      <el-table
        :data="dataTableRow"
        style="width: 150%"
      >
        <el-table-column
          prop="device"
          label="Device"
          :min-width="10"
        />
        <el-table-column label="Months">
          <el-table-column
            v-for="column in columns"
            :key="column"
            :prop="column"
            :label="column"
            :min-width="10"
          >
            <template slot-scope="scope2">
              <span>
                <el-button type="text" @click="openList(scope2.row, column)">[...]</el-button>
              </span>
            </template>
          </el-table-column>
        </el-table-column>
      </el-table>
    </el-dialog>
    <el-dialog :visible.sync="ListVisible" width="60%">
      <el-table
        :data="ListColumn"
        style="width: 100%"
      >
        <el-table-column
          prop="year"
          label="Year"
        />
        <el-table-column
          prop="value"
          label="Value"
        />
      </el-table>
    </el-dialog>
    <p />
  </div>
</template>
<script>

export default {
  props: [
    'table_data'
  ],

  filters: {

    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  components: { },
  data() {
    return {
      radio: 1,
      dialogTableVisible: false,
      dialogTableStringVisible: false,
      dialogTableStringObjVisible: false,
      dialogTableDeviceVisible: false,
      dialogTableDeviceAnnualVisible: false,
      dialogTableDeviceYearVisible: false,
      ListVisible: false,
      ListColumn: null,
      tableRowString: null,
      tableRowStringObj: null,
      columns: null,
      selectedRow: null,
      dataTableRow: null,
      list: null,
      listLoading: true,
      tableData: {
        'Inputs_EP': {
          'monthly_resource_histogram': '',
          'power_delivery_histogram': '',
          'number_devices': '',
          'project_life': '',
          'downtime_hours_per_device': ''
        },
        'Outputs_EP': {
          'array_lifetime_gross_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_annual_gross_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_monthly_gross_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'device_lifetime_gross_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'device_annual_gross_energy_pd': {
            'value': '',
            'Aggregation-Level': 'device'
          },
          'device_monthly_gross_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_lifetime_lost_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_annual_lost_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_monthly_lost_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'device_lifetime_lost_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'device_annual_lost_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'device_monthly_lost_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_lifetime_net_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_annual_net_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_monthly_net_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'device_lifetime_net_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'device_annual_net_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'device_monthly_net_energy_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_lifetime_net_ratio_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_lifetime_lost_ratio_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_annual_net_ratio_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_annual_lost_ratio_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_monthly_net_ratio_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'array_monthly_lost_ratio_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'device_lifetime_net_ratio_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'device_lifetime_lost_ratio_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'device_annual_net_ratio_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'device_annual_lost_ratio_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'device_monthly_net_ratio_pd': {
            'value': '',
            'Aggregation-Level': ''
          },
          'device_monthly_lost_ratio_pd': {
            'value': '',
            'Aggregation-Level': ''
          }
        }
      },
      filename: 'outputs_energy_production.json',
      speyId: this.$store.getters.speyId,
      listOfObjects: null,
    }
  },
  created() {
    this.fetchData()
    // this.getEnergyProduction(this.speyId)
  },
  methods: {
    fetchData() {
      this.listLoading = false
    },
    saveToFile(jsonData, filename) {
      const jsonDataString = JSON.stringify(jsonData)
      const blob = new Blob([jsonDataString], { type: 'text/plain;charset=utf-8;' })
      if (navigator.msSaveBlob) { // IE 10+
        navigator.msSaveBlob(blob, filename)
      } else {
        const link = document.createElement('a')
        if (link.download !== undefined) { // feature detection
          // Browsers that support HTML5 download attribute
          const url = URL.createObjectURL(blob)
          link.setAttribute('href', url)
          link.setAttribute('download', filename)
          link.style.visibility = 'hidden'
          document.body.appendChild(link)
          link.click()
          document.body.removeChild(link)
        }
      }
    },
    // getEnergyProduction(speyId) {
    //   const path = `${DTOP_PROTOCOL}//spey.${DTOP_DOMAIN}/spey/${speyId}/energy-production`
    //   axios.get(path)
    //     .then((res) => {
    //       this.tableData = res.data
    //       this.listOfObjects = Object.keys(this.tableData.Outputs_EP)
    //         .map(key => ({ property: key, value: this.tableData.Outputs_EP[key].value, Aggregation_Level: this.tableData.Outputs_EP[key]['Aggregation-Level'], unit: this.tableData.Outputs_EP[key]['Unit'], description: this.tableData.Outputs_EP[key]['Description'], label: this.tableData.Outputs_EP[key]['Label'] }))
    //       // console.log(this.listOfObjects)
    //     })
    //     .catch((error) => {
    //       // eslint-disable-next-line
    //       console.error(error);
    //     })
    // },
    filterAggregation(value, row) {
      return row.Aggregation_Level === value
    },
    open(row) {
      this.$alert(row.description, row.label, {
        confirmButtonText: 'OK'
      })
    },
    typeObj(obj) {
      if (typeof obj === 'number') {
        return 'number'
      } else if (typeof obj === 'string') {
        return 'string'
      } else if (typeof obj === 'object') {
        if (Array.isArray(obj)) {
          return 'array'
        } else if (typeof obj[Object.keys(obj)[0]] === 'object') {
          return 'object_object'
        } else {
          return 'object_array'
        }
      }
    },
    openDialog(row) {
      this.$refs.outputs_p.setCurrentRow(row)
      this.selectedRow = row
      this.dialogTableVisible = true
      this.dataTableRow = Object.keys(this.selectedRow.value)
        .map(key => ({ value: this.selectedRow.value[key].toFixed(3), label: this.selectedRow.label }))
    },
    openList(row, column) {
      console.log(row[column])
      // this.$refs.outputs_p.setCurrentRow(row)
      // this.selectedRow = row
      this.ListVisible = true
      this.ListColumn = Object.keys(row[column])
        .map(key => ({ value: row[column][key].toFixed(3), year: key }))
    },
    openDialogArray(row) {
      this.selectedRow = row
      if (row['Aggregation-Level'] === 'array') {
        this.dialogTableVisible = true
        this.columns = Object.keys(this.selectedRow.value)
        this.dataTableRow = []
        this.dataTableRow = [this.selectedRow.value]
        console.log("dataTable", this.dataTableRow)
      } else {
        if (typeof (this.selectedRow.value[Object.keys(this.selectedRow.value)[0]]) === 'number') {
          this.dialogTableDeviceVisible = true
          this.dataTableRow = Object.keys(this.selectedRow.value)
            .map(key => ({ label: key, property: this.selectedRow.value[key].toFixed(3) }))
        } else {
          if (typeof this.selectedRow.value[Object.keys(this.selectedRow.value)[0]][Object.keys(JSON.parse(this.selectedRow.value[Object.keys(this.selectedRow.value)[0]]))[0]] === 'string') {
            this.dialogTableDeviceAnnualVisible = true
            this.columns = Object.keys(JSON.parse(this.selectedRow.value[Object.keys(this.selectedRow.value)[0]]))
            this.dataTableRow = []
            Object.keys(this.selectedRow.value).forEach(key => {
              console.log ("prova", this.selectedRow.value[key])
              let data = JSON.parse(this.selectedRow.value[key])
              Object.keys(data).forEach((key2, index) => {
                data[key2]=data[key2].toFixed(3)
              })
              console.log ("prova2", data)
              // this.dataTableRow.push(data)
              this.dataTableRow.push(Object.assign({}, data, {device: key }))
            })
          } else {
            this.dialogTableDeviceYearVisible = true
            this.columns = Object.keys(JSON.parse(this.selectedRow.value[Object.keys(this.selectedRow.value)[0]]))
            console.log("columns", this.columns)
            this.dataTableRow = []
            Object.keys(this.selectedRow.value).forEach(key => {
              this.dataTableRow.push(Object.assign({}, JSON.parse(this.selectedRow.value[key]), { device: key }))
            })
          }
        }
      }
    },
    openDialogObject(row) {
      this.dialogTableVisible = true
      this.selectedRow = row
      // console.log(this.selectedRow.value)
      this.columns = Object.keys(this.selectedRow.value[0])
      this.dataTableRow = []
      Object.keys(this.selectedRow.value).forEach((key, index) => {
        Object.keys(this.selectedRow.value[key]).forEach((key2, index) => {
          if (typeof this.selectedRow.value[key][key2]=== "number") {
            this.selectedRow.value[key][key2]=this.selectedRow.value[key][key2].toFixed(3)
          }
        })
        this.dataTableRow.push(this.selectedRow.value[key])
        // this.dataTableRow[key].item = key
      })
    },
    openDialogString(row) {
      console.log(row)
      this.selectedRow = row
      const parsed = JSON.parse(this.selectedRow.value)

      if (typeof parsed[Object.keys(parsed)[0]] !== 'object') {
        this.dialogTableStringVisible = true
        this.tableRowString = Object.keys(parsed)
          .map(key => ({ property: key, value: parsed[key] }))
        console.log("tableRowString",this.tableRowString)
      } else {
        this.dialogTableStringObjVisible = true

        this.tableRowStringObj = []
        this.columns = Object.keys(parsed)

        const supportTable = {}
        // const a = {}

        Object.keys(parsed['January']).forEach((key2, index2) => {
          const a = {}
          Object.keys(parsed).forEach((key, index) => {
          // console.log(key)
            a[key] = parsed[key][key2].toFixed(3)
          })
          supportTable[key2] = a
        // console.log(supportTable)
        })
        this.tableRowStringObj = Object.keys(supportTable)
          .map(key => (Object.assign({}, supportTable[key], { year: key })))
        console.log(supportTable)
      }
    },
    filterValue(value, row) {
      if (row.value === "Not Calculated") {
        return value === true
      } else {
        return value === false
      }
    }
  }
}
</script>

<style scoped>
.chart-container{
  position:relative;
  width: 100%;
  height: calc(100vh - 84px);
}
</style>
