<!--
This is is the System Performance and Energy Yield (SPEY) for the DTOceanPlus suite of Tools.
Copyright (C) 2021 TECNALIA - Vincenzo Nava

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <el-row>
      <el-button
        icon="el-icon-download"
        data-cy-spey="saveFile"
        @click="saveToFile(table_data,filename)"
      >
        Save Data
      </el-button>
    </el-row>
    <br>
    <el-table
      ref="inputs_am"
      v-loading="listLoading"
      :data="table_data"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
      style="width:100%"
    >
      <el-table-column
        prop="label"
        label="Parameter"
        sortable
        min-width="37"
      >
        <template slot-scope="scope">
          <!-- <el-popover
            ref="fromPopOver1"
            placement="top-start"
            width="250"
            trigger="hover">
            {{ scope.row.description }}
          </el-popover> -->
          {{ scope.row.label }}
          <!-- <span
            v-popover:fromPopOver1
            class="el-icon-info"/>S -->

          <el-tooltip effect="dark" :content="scope.row.description" placement="top-start">
            <i class="el-icon-info" />
          </el-tooltip>
          <!-- <el-popover trigger="hover" placement="top">
            <p>{{ scope.row.description }}</p>
            <div slot="reference" class="name-wrapper">
              <p>{{ scope.row.label }}</p>
            </div>
          </el-popover> -->
        </template>
      </el-table-column>
      <el-table-column
        prop="unit"
        label="Units"
        min-width="26"
      />
      <el-table-column
        prop="value"
        label="Value"
        :filters="[{ text: 'Defined', value: false }, { text: 'Not Defined', value: true }]"
        :filter-method="filterValue"
        :filtered-value="[false]"
        filter-placement="bottom-end"
        min-width="30"
      >
        <template slot-scope="scope">
          <span v-if="typeObj(scope.row.value)==='number'">
            <p>{{ scope.row.value.toFixed(3) }}</p>
          </span>
          <span v-if="typeObj(scope.row.value)==='string'">
            <p>{{ scope.row.value }}</p>
          </span>
          <template v-else-if="typeObj(scope.row.value)==='array'">
            <el-button type="text" @click="openDialog(scope.row)">[...]</el-button>
          </template>
          <template v-else-if="typeObj(scope.row.value)==='object_array'">
            <el-button type="text" @click="openDialogArray(scope.row)">[...]</el-button>
          </template>
          <template v-else-if="typeObj(scope.row.value)==='object_object'">
            <el-button type="text" @click="openDialogObject(scope.row)">[...]</el-button>
          </template>
        </template>
      </el-table-column>
      <el-table-column
        label="View"
        min-width="30"
      >
        <template slot-scope="scope">
          <template v-if="typeObj(scope.row.value)==='array'">
            <el-button type="text" @click="openDialogDiagram(scope.row)">View</el-button>
          </template>
          <template v-else>
            Not Available
          </template>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog v-if="selectedRow" :title="selectedRow.label" :visible.sync="dialogTableVisible">
      <el-table :data="dataTableRow">
        <el-table-column type="index" label="Device #" width="100" />
        <el-table-column property="value" :label="selectedRow.label" width="300" />
      </el-table>
    </el-dialog>
    <el-dialog v-if="selectedRow" :title="selectedRow.label" :visible.sync="dialogDiagramVisible">
      <bar-chart :bar_chart_data="arrayPlot"></bar-chart>
    </el-dialog>
    <p />
  </div>
</template>
<script>

import BarChart from '@/components/BarChart'

export default {
  props: [
    'table_data', 'file_name'
  ],
  filters: {

    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  components: {
  BarChart },
  data() {
    return {
      radio: 1,
      arrayPlot:null,
      dialogTableVisible: false,
      dialogDiagramVisible: false,
      columns: null,
      selectedRow: null,
      dataTableRow: null,
      list: null,
      listLoading: true,
      tableData: {
      },
      filename: this.file_name,
      speyId: this.$store.getters.speyId,
      listOfObjects: null,
    }
  },
  created() {
    this.fetchData()
    // this.getAlternativeMetrics(this.speyId)
  },
  methods: {
    fetchData() {
      this.listLoading = false
    },
    saveToFile(jsonData, filename) {
      const jsonDataString = JSON.stringify(jsonData)
      const blob = new Blob([jsonDataString], { type: 'text/plain;charset=utf-8;' })
      if (navigator.msSaveBlob) { // IE 10+
        navigator.msSaveBlob(blob, filename)
      } else {
        const link = document.createElement('a')
        if (link.download !== undefined) { // feature detection
          // Browsers that support HTML5 download attribute
          const url = URL.createObjectURL(blob)
          link.setAttribute('href', url)
          link.setAttribute('download', filename)
          link.style.visibility = 'hidden'
          document.body.appendChild(link)
          link.click()
          document.body.removeChild(link)
        }
      }
    },
    // getAlternativeMetrics(speyId) {
    //   const path = `${DTOP_PROTOCOL}//spey.${DTOP_DOMAIN}/spey/${speyId}/alternative-metrics`
    //   axios.get(path)
    //     .then((res) => {
    //       this.tableData = res.data
    //       this.listOfObjects = Object.keys(this.tableData.Inputs_AM)
    //         .map(key => ({ property: key, value: this.tableData.Inputs_AM[key].value, unit: this.tableData.Inputs_AM[key]['Unit'], description: this.tableData.Inputs_AM[key]['Description'], label: this.tableData.Inputs_AM[key]['Label'] }))
    //     })
    //     .catch((error) => {
    //       // eslint-disable-next-line
    //       console.error(error);
    //     })
    // },
    open(row) {
      this.$alert(row.description, row.label, {
        confirmButtonText: 'OK'
      })
    },
    typeObj(obj) {
      if (typeof obj === 'number') {
        return 'number'
      } else if (typeof obj === 'string') {
        return 'string'
      } else if (typeof obj === 'object') {
        if (Array.isArray(obj)) {
          return 'array'
        } else if (typeof obj[Object.keys(obj)[0]] === 'object') {
          return 'object_object'
        } else {
          return 'object_array'
        }
      }
    },
    openDialog(row) {
      this.$refs.inputs_am.setCurrentRow(row)
      this.selectedRow = row
      this.dialogTableVisible = true
      this.dataTableRow = Object.keys(this.selectedRow.value)
        .map(key => ({ value: this.selectedRow.value[key].toFixed(3), label: this.selectedRow.label }))
    },
    openDialogArray(row) {
      this.selectedRow = row
      this.dialogTableVisible = true
      this.columns = Object.keys(this.selectedRow.value)
      this.dataTableRow = []
      this.dataTableRow = [this.selectedRow.value]
      // this.dataTableRow['0'].item = 0
      console.log(this.dataTableRow)
      // this.$set(this.dataTableRow[0], 'item', '0')
    },
    openDialogObject(row) {
      this.dialogTableVisible = true
      this.selectedRow = row
      console.log(this.selectedRow.value)
      this.columns = Object.keys(this.selectedRow.value[0])
      this.dataTableRow = []
      Object.keys(this.selectedRow.value).forEach((key, index) => {
        this.dataTableRow.push(this.selectedRow.value[key])
        // this.dataTableRow[key].item = key
      })
    },
    openDialogDiagram(row) {
      this.selectedRow = row
      this.dialogDiagramVisible = true
      this.arrayPlot={}
      this.arrayPlot.y = this.selectedRow.value
      // this.arrayPlot.y = [this.selectedRow.value]
      this.arrayPlot.title = this.selectedRow.label
      this.arrayPlot.labely = this.selectedRow.label+" ["+ this.selectedRow.unit +"]"
      this.arrayPlot.labelx = "Device #"
      console.log(this.arrayPlot)
    },
    filterValue(value, row) {
      if (row.value === "Not Defined") {
        return value === true
      } else {
        return value === false
      }
    },
  }
}
</script>

<style scoped>
.chart-container{
  position:relative;
  width: 100%;
  height: calc(100vh - 84px);
}
</style>
